@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("TTF");
}
body {
  width: 100%;
  background-color: white;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #536175;
  margin: 0;
}
/* header 
--------------------*/
#previous {
  position: relative;
  top: 170px;
  left: 140px;
  font-family: "montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #aab1bb;
  border: none;
  padding: 12px 30px;
  border-radius: 0;
  text-decoration: none;
  color: #172940;
}
#previous:hover {
  background-color: #aab1bbbf;
}
.logo {
  max-width: 348px;
  margin: 40px auto 20px auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
#logo {
  max-width: 348px;
  display: inline-block;
}
/* main 
--------------------*/
main {
  width: 100%;
}
div.content-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}
h1,
h3 {
  font-family: "century gothic";
  font-size: 1.875rem;
  color: #172940;
  margin-top: 70px;
  margin-bottom: 10px;
}
h2 {
  font-family: "century gothic";
  font-size: 1.875rem;
  color: #172940;
  margin: 0 0 10px 0;
  padding: 0;
}
.about-us {
  width: 27%;
}
.image-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
}
.image {
  text-align: center;
  margin: 0;
}
ol {
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 20px;
}
.why-chose-us li {
  padding: 10px;
}
#about-us {
  font-family: "montserrat";
  color: #172940;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}
#address {
  font-weight: bold;
}
form.newsletter {
  margin-top: 44px;
  float: left;
  margin-left: 500px;
  margin-bottom: 20px;
}
#newsletter {
  width: 390px;
  height: 46px;
  border: solid 2px;
  border-color: #536175;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 26px;
  margin-right: 0;
}
#subscribe {
  background-color: #2f496a;
  font-family: "montserrat";
  font-size: 1.25rem;
  width: 90px;
  height: 52px;
  border: none;
  border-radius: 0;
  color: white;
  padding: 50;
}
#label {
  position: relative;
  top: -50px;
  left: 235px;
  font-weight: bold;
}
/* footer 
--------------------*/
footer {
  width: 100%;
  float: left;
  margin-top: 20px;
}
.support-container {
  font-family: "montserrat";
  background-color: #172940;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.support ul {
  list-style: none;
  padding-left: 0;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
}
