@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
:root {
  --white: #fff;
  --dark-blue: #172940;
  --dark-blue-transparent: #172940bf;
  --red: #b05625;
  --yellow: #f2b705;
  --blue-tranparent: #5361757d;
  --montserrat: "montserrat";
  --margin-center: "0 auto 0 auto";
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  background-color: #f5f5f5;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #000;
  margin: 0;
}
body * {
  outline: none;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
div.campaign {
  background-color: #f2b705bf;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.125rem;
  color: var(--blue);
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 10px 30px;
  display: inline-block;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
nav.icons {
  background-color: white;
}
header {
  display: inline;
}
nav.icons {
  width: 100%;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: flex-end;
  margin: 0 auto 0 auto;
}
.mobile-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
div.icons {
  margin-bottom: 20px;
}
a.icons {
  display: inline-block;
  color: #172940;
  font-size: 1rem;
  text-decoration: none;
}
figure.icons {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#mobile-home {
  display: none;
}
figure.fpb {
  padding-left: 30px;
}
figcaption.label {
  position: relative;
  top: -5px;
  margin-top: 0;
  padding-top: 0;
  color: #000;
}
.icons img {
  height: 40px;
}
.logo {
  margin: 10px;
}
#logo {
  display: inline-block;
  height: 100px;
  margin: 0;
  padding: 0;
}
a.icons:hover {
  text-decoration: underline;
}
form.search {
  position: relative;
}
#search {
  border: 2px solid #000;
  border-radius: 0;
  min-width: 500px;
  outline: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding: 12px 0 12px 15px;
  margin-bottom: 30px;
}
#search-label {
  position: absolute;
  top: 7px;
  right: 10px;
}
nav.main-menu {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-color: #172940;
  z-index: 999;
}
div.menu-wrapper {
  width: 70%;
}
.main-menu * a {
  text-decoration: none;
}
ul.menu {
  width: 100%;
  background-color: #172940;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
ul.dropdown {
  background-color: white;
  padding-left: 0;
}
.main-menu li {
  color: white;
  background-color: #172940;
  display: block;
  float: left;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
}
.dropdown li {
  background-color: white;
  display: block;
  float: left;
  padding: 10px 15px 10px 25px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.5s ease;
}
.dropdown li a {
  color: #172940;
}
li a {
  color: white;
  display: block;
}
ul.dropdown > li:hover {
  background-color: #f2b705;
  transition: all 0.5s ease;
  cursor: pointer;
}
ul.menu > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
ul li ul {
  background-color: #f2b705;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 600;
}
.hamburger-label {
  color: fff;
  font-size: 1.25rem;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 30px;
  display: none;
}
#hamburger-menu {
  display: none;
}
div.mobile-menu {
  font-family: "century gothic";
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  display: none;
}
.mobile-menu a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.mobile-menu a:hover {
  background-color: #f2b705;
}
div.breadcrumb {
  margin: 0px 0px 20px 7.5%;
  padding-top: 20px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous,
.angle {
  color: #a1a1a1;
}
/* main 
--------------------*/
main {
  width: 100%;
  padding-bottom: 70px;
}
.content-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}
h1,
h2 {
  width: 100%;
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: #5361757d;
  padding: 14px 0px 14px 20px;
}
h1 {
  margin-bottom: 40px;
}
section.basket {
  background-color: var(--white);
  width: 65%;
  min-height: 700px;
  padding-top: 10px;
}
section.sign-in {
  background-color: var(--white);
  width: 30%;
  height: 600px;
  padding-top: 10px;
}
table {
  text-align: left;
  width: 95%;
  margin-left: 25px;
  border-spacing: 0;
}
th {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
}
table th,
td {
  border-bottom: 2px solid #707070;
}
tr > .no-border {
  border: none;
}
td p {
  padding: 0;
  margin: 0;
}
#bold {
  font-weight: bold;
}
#center {
  text-align: center;
}
#total {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 20px;
}
#jacket {
  width: 120px;
}
.form-wrapper {
  width: 70%;
  margin: 0 auto;
}
.sign-in {
  width: 100%;
}
.sign-in input {
  background-color: #f5f5f5;
  font-family: "roboto";
  font-size: 1.125rem;
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid #5361757d;
  color: #c2c2c2;
  padding-left: 15px;
  border-radius: 0;
}
.sign-in input:focus {
  background-color: #fff;
}
#email {
  max-width: 400px;
}
#password {
  max-width: 400px;
}
.sign-in label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-blue);
  margin-top: 25px;
  margin-bottom: 5px;
}
#sign-in {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  width: 60%;
  max-width: 300px;
  padding: 12px 40px;
  color: var(--white);
  border: none;
  border-radius: 0;
  margin: 30px auto 30px 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;

}
#sign-in:hover {
  background: var(--dark-blue-transparent);
  box-shadow: none;
}
.sign-in button {
  display: inline-block;
  margin-bottom: 70px;
  box-shadow: 0 3px 6px #00000029;
}
.sign-in p {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
}
#p1 {
  display: inline-block;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  color: #c2c2c2;
  text-decoration: underline;
}
#p1:hover {
  color: var(--dark-blue)
}
#p3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}
div.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  margin-left: 120px;
 
}
.buttons a {
  display: inline-block;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  max-width: 350px;
  margin-top: 200px;
  padding: 12px 20px;
  box-shadow: 0 3px 6px #00000029;
  text-transform: uppercase;
  border-radius: 5px;
}
#blue {
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background: var(--dark-blue);
  color: var(--white);
}
#yellow {
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background: #f2b705;
  color: #000000;
}
#blue:hover {
  background-color: var(--dark-blue-transparent);
  box-shadow: none;
}
#yellow:hover {
  background-color: #f2b705bf;
  box-shadow: none;
}
.error-message {
  font-size: 1rem;
  color: red;
  margin-top: 5px;
  /* display: none; */
}
.error-message:before {
  content: "*";
}
/* footer
--------------------*/
.support-wrapper {
  width: 100%;
  background-color: #2f496a;
  margin-bottom: 0;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  font-family: "century gothic";
  font-size: 1.125rem;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support ul li {
  padding-top: 5px;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.footer {
  margin-top: 0;
  background-color: white;
}
ul.footer {
  display: flex;
  justify-content: center;
}
#copyright {
  font-weight: bold;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding: 12px 20px 12px 20px;
  margin: 0;
}
li.social-media {
  display: inline-block;
}
span.fa {
  font-size: 2rem;
  color: white;
}
#social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.footer {
  margin-top: 0;
  margin-bottom: 0;
}

/* Styles that changes 
..........................*/
@media only screen and (max-width: 1400px) {
  /* header 
--------------------*/
  #search {
    min-width: 400px;
  }
}
@media only screen and (max-width: 1200px) {
  /* header 
--------------------*/
  ul.campaign {
    font-size: 1rem;
  }
  .campaign li:before {
    display: none;
  }
  #logo {
    height: 90px;
  }
  figure.logo {
    height: 90px;
  }
  .campaign li {
    margin-right: 10px;
    margin-left: 10px;
  }
  div.home {
    display: none;
  }
  .mobile-wrapper {
    width: 100%;
  }
  #search {
    min-width: 350px;
  }
  /* footer 
--------------------*/
  ul.footer {
    font-size: 1rem;
  }
  #social-media {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 25px;
  }
  .support p {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .support ul {
    font-size: 1rem;
  }
  .small {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1023px) {
  /* main 
--------------------*/
  .content-wrapper {
    flex-direction: column;
    width: 85%;
    margin-bottom: 0;
  }
  section.basket {
    width: 100%;
    min-height: 600px;
  }
  section.sign-in {
    width: 100%;
    margin: 0;
    height: 650px;
  }
  div.buttons {
    width: 50%;
    flex-direction: column;
    margin-bottom: 0;
  }
  div.buttons a {
    text-align: center;
    margin-top: 50px;
    margin: 50px auto 0 auto;
    width: 85%;
  }
}
@media only screen and (max-width: 1000px) {
  /* header 
--------------------*/
  .sticky {
    display: inline;
    position: static;
  }
  nav.main-menu {
    position: sticky;
    top: 0;
  }
  .icon-wrapper {
    width: 100%;
  }
  .mobile-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto 0 auto;
    background-color: white;
    align-items: center;
  }
  div.icons {
    order: 2;
    width: 100%;
    margin: 0;
    padding: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  figure.logo {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }
  figcaption.label {
    display: none;
  }
  div.search {
    order: 3;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  #search {
    border-radius: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }
  div.home {
    display: none;
  }
  #mobile-home {
    display: inline;
  }
}
@media only screen and (max-width: 767px) {
  /* header 
--------------------*/
  #search {
    min-width: 300px;
  }
  #logo {
    margin-left: 0;
  }
  div.campaign {
    width: 100%;
  }
  ul.campaign {
    font-size: 0.75rem;
    /* background-color: lightgreen; */
    width: 85%;
    margin: 0 auto 0 auto;
  }
  .campaign li {
    padding: 10px 5px 10px 0;
    text-align: left;
    margin: 0;
    margin-right: 10px;
    /* background-color: lightpink; */
  }
  .menu-item {
    margin-left: 20px;
    color: var(--yellow);
  }
  #men {
    margin-left: 20px;
  }
  .hamburger-label {
    display: block;
  }
  li.menu-item {
    display: none;
  }
  .dropdown li {
    display: none;
  }
  #hamburger-menu:checked ~ div {
    display: block;
  }
  ul.mobile-menu {
    display: block;
  }
  div.breadcrumb {
    font-size: 0.875rem;
    margin-bottom: 20px;
    margin-left: 7.5%;
  }
  .breadcrumb a {
    padding: 0;
    margin: 0;
  }
  .breadcrumb span {
    padding-left: 5px;
    margin: 0;
  }
  /* main 
--------------------*/
  main {
    padding-bottom: 0;
  }
  .content-wrapper {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  h1,
  h2 {
    font-size: 1.5rem;
  }
  div.buttons {
    width: 75%;
  }
  .buttons a {
    font-size: 1.125rem;
    margin-top: 50px;
  }
  #jacket {
    display: none;
  }
  #padding {
    margin-bottom: 10px;
  }
  section.sign-in {
    height: 550px;
  }
  #sign-in {
    margin-bottom: 30px;
  }
  .sign-in input {
    width: 75%;
  }
  .basket {
    width: 90%;
  }
  .basket tr th {
    font-size: 1rem;
    font-family: "roboto";
    text-transform: capitalize;
  }
  .basket tr td {
    font-size: 1rem;
  }
  /* footer 
--------------------*/
  .support-container {
    flex-direction: column;
  }
  #social-media {
    font-size: 1rem;
    padding: 0;
  }
  #follow-us {
    padding-top: 30px;
  }
  .support ul {
    margin-top: 10px;
  }
  .support p {
    padding-top: 0;
  }
  .support ul li {
    padding-bottom: 10px;
  }
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer li {
    padding: 5px;
    min-width: 100px;
  }
}
