@font-face {
  font-family: "montserrat";
  src: url();
  font-family: "roboto";
  scr: url();
  font-family: "cenury gothic";
  scr: url();
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  background-color: #f5f5f5;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
  margin: 0;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.25rem;
  color: #b05625;
  background-color: #f2b705;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 12px 30px;
  display: inline-block;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
}
nav.icons {
  width: 100%;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin: 0 auto 0 auto;
}
form.search {
  position: relative;
}
a.icons {
  display: inline-block;
  color: #172940;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 30px;
}
#home-icon {
  padding-left: 0;
}
.logo {
  display: inline-block;
  margin: 10px 0 10px 0;
}
a.icons:hover {
  text-decoration: underline;
}
a img {
  position: relative;
  top: 7px;
}
#search {
  border: 2px solid #172940;
  border-radius: 8px;
  width: 500px;
  height: 50px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
#search-label {
  position: absolute;
  top: 7px;
  right: 10px;
}
nav.menu {
  width: 100%;
  background-color: #172940;
}
.menu-wrapper {
  width: 67%;
}
ul.menu {
  display: flex;
  justify-content: space-evenly;
  font-family: "monteserrat", verdana, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
}
.menu li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
div a {
  color: #172940;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: #f2b705;
  text-decoration: underline;
}
div.breadcrumb {
  margin: 0px 0px 40px 7.5%;
  padding-top: 20px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous {
  color: #a1a1a1;
}
/* main 
--------------------*/
main {
  width: 100%;
}
.content-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}
div.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
}
h1,
h2 {
  width: 100%;
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: #5361757d;
  padding: 14px 0px 14px 20px;
}
h1 {
  margin-bottom: 40px;
}
section.basket {
  background-color: white;
  width: 65%;
  min-height: 780px;
  padding-top: 10px;
}
section.sign-in {
  background-color: white;
  width: 30%;
  height: 650px;
  padding-top: 10px;
}
table {
  text-align: left;
  width: 95%;
  margin-left: 25px;
  border-spacing: 0;
}
th {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
}
table th,
td {
  border-bottom: 2px solid #707070;
}
tr > .no-border {
  border: none;
}
td p {
  border: 2px solid #707070;
  text-align: center;
  width: 70px;
}
#total {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 20px;
}
#jacket {
  width: 120px;
}
form input {
  font-family: "roboto";
  font-size: 1.125rem;
  display: block;
  width: 80%;
  height: 50px;
  border: 2px solid #5361757d;
  color: #c2c2c2;
  padding-left: 15px;
  border-radius: 0;
  margin-left: 40px;
}
.sign-in label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: #172940;
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 5px;
}
#sign-in {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  width: 60%;
  padding: 13px 40px;
  background-color: #172940;
  color: white;
  border: none;
  border-radius: 0;
  margin-top: 35px;
}
.sign-in div {
  text-align: center;
}
.sign-in button {
  display: inline-block;
  margin-bottom: 70px;
  box-shadow: 0 3px 6px #00000029;
}
.sign-in button:hover {
  background-color: black;
}
.sign-in p {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
}
#p1 {
  display: block;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  margin-right: 60px;
  margin-top: 5px;
  color: #c2c2c2;
  text-decoration: none;
}
#p2 {
  text-transform: uppercase;
}
.buttons a {
  display: block;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  width: 30%;
  padding: 13px 0px;
  box-shadow: 0 3px 6px #00000029;
  text-transform: uppercase;
  text-align: center;
}
#blue {
  background-color: #172940;
  color: white;
}
#yellow {
  background-color: #f2b705;
  color: #000000;
}
#blue:hover {
  background-color: #172940bf;
}
#yellow:hover {
  background-color: #f2b705bf;
}
/* footer
--------------------*/
footer {
  margin-top: 200px;
}
.support-wrapper {
  width: 100%;
  background-color: #172940;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  list-style: none;
  padding-left: 0;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
}
li.social-media {
  display: inline-block;
}
img.social-media {
  width: 30px;
  height: 30px;
  margin: 0;
  padding-right: 20px;
}
