@font-face {
  font-family: 'cenury gothic'
  src: url(../fonts/GOTHIC.TTF) format("TTF"); 
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: white;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
  margin: 0;
}
/* header 
--------------------*/
header {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  /*position: fixed;*/
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul.campaign {
  display: flex;
  justify-content: space-evenly;
  font-family: "montserrat";
  font-size: 1.25rem;
  color: #b05625;
  background-color: #f2b705;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 10px 0;
  display: inline-block;
}
form.search {
  position: relative;
}
a.icons {
  display: inline-block;
  color: #172940;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  padding: 0 30px;
}
a.icons:hover {
  text-decoration: underline;
}
a img {
  position: relative;
  top: 7px;
}
nav.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
}
/*.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}*/
#search {
  border: 2px solid #172940;
  border-radius: 8px;
  width: 500px;
  height: 50px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
#search-label {
  position: absolute;
  top: 7px;
  right: 10px;
}
nav.menu {
  width: 100%;
  background-color: #172940;
  padding-left: 140px;
  padding-right: 700px;
}
ul.menu {
  display: flex;
  justify-content: space-between;
  font-family: "monteserrat", verdana, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
}
.menu li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
div a {
  color: #172940;
}
.menu a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}
.menu a:hover {
  color: #f2b705;
  text-decoration: underline;
}
div.breadcrumb {
  margin: 20px 0px 20px 140px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous {
  color: #a1a1a1;
}
/* main 
--------------------*/
main {
  width: 100%;
}
h1 {
  font-family: "century gothic", verdana, sans-serif;
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
h2 {
  font-family: "montserrat", verdana, sans-serif;
  color: #b05625;
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 5px;
  margin-right: 10px;
}
section.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content {
  width: 33%;
  height: 682px;
  background-color: #f5f5f5;
  margin-top: 0;
  padding-right: 100px;
  padding-left: 100px;
}
figure {
  margin: 0;
}
#newsletter {
  width: 390px;
  height: 46px;
  border: solid 2px;
  border-color: #536175;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 26px;
}
#newsletter:hover {
  background-color: #f2f2f2;
}
#join {
  background-color: #536175;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 0;
  color: white;
  padding: 50;
  margin-left: -6px;
}
#join:hover {
  opacity: 0.75;
}
#label {
  font-weight: bold;
  position: relative;
  color: #536175;
  top: -45px;
  left: 310px;
}
section.bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.large-buttons {
  margin-top: 50px;
  margin-right: 140px;
}
div.large-buttons a {
  padding-left: 70px;
}
div.large-buttons a:hover {
  opacity: 0.75;
}
form.newsletter {
  margin-bottom: 17.5px;
}
a.button {
  text-decoration: none;
}
p.button {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  width: 240px;
  background-color: #172940;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 40px;
  text-align: center;
  margin: 35px auto;
}
p.button:hover {
  background-color: #172940bf;
}
/* footer 
--------------------*/
.support-container {
  width: 100%;
  font-family: "montserrat";
  background-color: #172940;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.support ul {
  list-style: none;
  padding-left: 0;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  text-decoration: underline;
  padding-top: 10px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
}
li.social-media {
  display: inline-block;
}
img.social-media {
  width: 30px;
  height: 30px;
  margin: 0;
  padding-right: 20px;
}
