@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
:root {
  --dark-blue: #172940;
  --red: #b05625;
  --yellow: #f2b705;
}
body {
  width: 100%;
  background-color: #e8e8e8;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
  margin: 0;
}
body * {
  outline: none;
}
/* header 
--------------------*/
#previous {
  position: relative;
  top: 170px;
  left: 7.5%;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #aab1bb;
  border: none;
  padding: 12px 30px;
  border-radius: 0;
  text-decoration: none;
  color: #172940;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  cursor: pointer;
}
#previous:hover {
  background-color: #aab1bbbf;
  box-shadow: none;
}
.logo {
  max-width: 348px;
  margin: 20px auto 20px auto;
}
#logo {
  max-width: 300px;
  display: inline-block;
}
/* main 
--------------------*/
main {
  margin: 0 auto;
}
.content-wrapper {
  width: 85%;
  margin: 0 auto;
}
.contact-container {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}
.heading-wrapper {
  padding-top: 20px;
}
.heading-wrapper p {
  margin: 3rem 2rem 1rem 20%;
  font-weight: bold;
}
.heading-wrapper ul {
  margin: 0 2rem 0 20%;
  padding-left: 1rem;
}
.heading-wrapper ul li {
  padding-bottom: 1rem;
}
h1 {
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: #5361757d;
  padding: 14px 0px 14px 40px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 100px auto;
  background-color: white;
}
div.form {
  width: 60%;
  margin: 1.5rem auto 0 auto;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  color: #172940;
  font-size: 1rem;
}
input,
textarea {
  font-size: 1.125rem;
  color: #172940;
  background-color: #f5f5f5;
  border-radius: 0;
  border: 2px solid #5361757d;
  padding: 10px;
  transition-property: border;
  transition-duration: 0.5s;
}
input:focus {
  background-color: #fff;
  border: 2px solid #172940;
}
.error-message {
  display: none;
  font-size: 1rem;
  color: #be3e35;
  margin-top: 5px;
  margin-left: 20%;
}
.error-message:before {
  content: "*";
}
.error-message {
  margin-bottom: 8px;
}
#button {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 240px;
  background-color: #172940;
  color: white;
  border-radius: 8px;
  border: none;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  margin: 3rem auto 100px auto;
  box-shadow: 0 3px 6px #00000029;
  cursor: pointer;
}
#button:hover {
  background-color: #172940bf;
  box-shadow: none;
}
#message {
  height: 300px;
  padding: 12px;
  font-family: "roboto";
}
.success {
  margin-left: 15%;
  display: none;
  color: green;
}
.success:before {
  content: "\2714";
  font-size: 2rem;
}
/* footer 
--------------------*/
.support-wrapper {
  width: 100%;
  background-color: #2f496a;
  margin-bottom: 0;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  font-family: "century gothic";
  font-size: 1.125rem;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support ul li {
  padding-top: 5px;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.footer {
  margin-top: 0;
  background-color: white;
}
ul.footer {
  display: flex;
  justify-content: center;
}
#copyright {
  font-weight: bold;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding: 12px 20px 12px 20px;
  margin: 0;
}
li.social-media {
  display: inline-block;
}
span.fa {
  font-size: 2rem;
  color: white;
}
#social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.footer {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 1600px) {
  /* main
--------------------*/
  .contact-container {
    width: 60%;
  }
}
@media only screen and (max-width: 1200px) {
  /* main
--------------------*/
  .contact-container {
    width: 70%;
  }
  div.form {
    width: 70%;
  }
  .heading-wrapper p {
    margin-left: 15%;
  }
  .heading-wrapper ul {
    margin-left: 15%;
  }
  .error-message {
    margin-left: 15%;
  }
  /* footer 
--------------------*/
  ul.footer {
    font-size: 1rem;
  }
  #social-media {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 25px;
  }
  .support p {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .support ul {
    font-size: 1rem;
  }
  .small {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1000px) {
  /* header 
--------------------*/
  .logo {
    max-width: 250px;
    margin-top: 0;
  }
  #logo {
    max-width: 250px;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  #previous {
    width: 250px;
    top: 190px;
    font-size: 1.125rem;
  }
  /* main 
--------------------*/
  .contact-container {
    margin-top: 75px;
  }
  div.form {
    width: 80%;
  }
  .heading-wrapper p {
    margin-left: 10%;
  }
  .heading-wrapper ul {
    margin-left: 10%;
  }
  .error-message {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 767px) {
  /* header 
--------------------*/
  .logo {
    max-width: 200px;
    margin-top: 0;
  }
  #logo {
    max-width: 200px;
  }
  /* main 
--------------------*/
  h1 {
    font-size: 1.5rem;
  }
  .contact-container {
    width: 85%;
  }
  .heading-wrapper p {
    font-size: 1rem;
  }
  .heading-wrapper ul {
    font-size: 1rem;
  }
  input,
  textarea {
    font-size: 1rem;
  }
  /* footer 
--------------------*/
  .support-container {
    flex-direction: column;
  }
  #logo {
    margin-left: 0;
  }
  #social-media {
    font-size: 1rem;
    padding: 0;
  }
  #follow-us {
    padding-top: 30px;
  }
  .support ul {
    margin-top: 10px;
  }
  .support p {
    padding-top: 0;
  }
  .support ul li {
    padding-bottom: 10px;
  }
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer li {
    padding: 5px;
    min-width: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .contact-container {
    width: 90%;
  }
}
