@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
:root {
  --center-align: 0 auto 0 auto;
  --dark-blue: #172940;
  --red: #b05625;
  --yellow: #f2b705;
  --shadow: 0 3px 6px #00000029;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: white;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: black;
  margin: 0;
}
body * {
  outline: none;
}
/* header 
  --------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
div.campaign {
  background-color: #f2b705bf;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.25rem;
  color: var(--blue);
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 12px 30px;
  display: inline-block;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
header {
  display: inline;
  z-index: 100;
}
nav.icons {
  width: 100%;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: flex-end;
  margin: 0 auto 0 auto;
  /*background-color: blueviolet;*/
}
.mobile-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: aqua; */
}
div.icons {
  margin-bottom: 20px;
}
form.search {
  position: relative;
}
a.icons {
  display: inline-block;
  color: #172940;
  font-size: 1rem;
  text-decoration: none;
}
figure.icons {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#mobile-home {
  display: none;
}
figure.fpb {
  padding-left: 30px;
}
figcaption.label {
  position: relative;
  top: -5px;
  margin-top: 0;
  padding-top: 0;
}
.icons img {
  height: 40px;
}
.logo {
  margin: 10px;
}
#logo {
  display: inline-block;
  height: 110px;
  margin: 0;
  padding: 0;
}
a.icons:hover {
  text-decoration: underline;
}
/* div.search {
  background-color: turquoise;
} */
#search {
  border: 2px solid #172940;
  border-radius: none;
  min-width: 500px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding: 12px 0 12px 15px;
  margin-bottom: 30px;
  /* position: relative; */
}
/* #search-label {
  position: absolute;
  top: 7px;
  right: 10px;
} */
nav.main-menu {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-color: #172940;
}
div.menu-wrapper {
  width: 70%;
}
.main-menu * a {
  text-decoration: none;
}
ul.menu {
  width: 100%;
  background-color: #172940;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
ul.dropdown {
  background-color: white;
  padding-left: 0;
}
.main-menu li {
  color: white;
  background-color: #172940;
  display: block;
  float: left;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
}
.dropdown li {
  background-color: white;
  display: block;
  float: left;
  padding: 10px 15px 10px 25px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.5s ease;
}
.dropdown li a {
  color: #172940;
}
li a {
  color: white;
  display: block;
}
ul.dropdown > li:hover {
  background-color: #f2b705;
  transition: all 0.5s ease;
  cursor: pointer;
}
ul.menu > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
ul li ul {
  background-color: #f2b705;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 500;
}
div.breadcrumb {
  margin: 0px 0px 40px 7.5%;
  padding-top: 20px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous,
.angle {
  color: #a1a1a1;
}
/* main 
  --------------------*/
main {
  width: 100%;
  padding-bottom: 40px;
}
h1 {
  font-family: "century gothic", verdana, sans-serif;
  font-size: 2rem;
  padding-top: 50px;
  margin-bottom: 20px;
}
h2 {
  font-family: "montserrat", verdana, sans-serif;
  color: #b05625;
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 5px;
}
p {
  margin-top: 10px;
}
div.content-wrapper {
  width: 85%;
  height: 1000px;
  display: flex;
  background-image: url(../images/outdoor-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: var(--center-align);
}
section.content {
  width: 50%;
  height: 1000px;
  margin-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff99;
}
a.button {
  text-decoration: none;
}
p.button {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 240px;
  background-color: #172940;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 40px;
  text-align: center;
  margin: 150px auto;
  box-shadow: var(--shadow);
  transition: background-color, box-shadow;
  transition-duration: 0.5s;
}
p.button:hover {
  background-color: #172940bf;
  box-shadow: none;
}
div.bottom-wrapper {
  width: 85%;
  margin: var(--center-align);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  margin: 70px auto 0 auto;
  /*background-color: aquamarine;*/
}
div.newsletter {
  display: inline-block;
  margin-left: 10%;
  /*background-color: cornflowerblue;*/
}
div.large-buttons {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.contact {
  height: 70px;
  width: 70px;
  background-color: #172940;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}
.chat {
  height: 70px;
  width: 70px;
  background-color: #b05625;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}
a > .contact:hover {
  background-color: #536175bf;
  box-shadow: none;
}
a > .chat:hover {
  background-color: #b05625bf;
  box-shadow: none;
}
#contact {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#chat {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#margin {
  margin-left: 70px;
}
.large-buttons a {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: #f2f2f2;
  transition-property: color;
  transition-duration: 0.5s;
}
.large-buttons a:hover {
  color: var(--dark-blue);
}
.label {
  display: inline-block;
  margin-top: 5px;
}
/*.newsletter {
  background-color: tomato;
}*/
#newsletter {
  box-sizing: border-box;
  height: 48px;
  border: solid 2px;
  border-color: #536175;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 15px;
}
#join {
  background-color: #536175;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding: 12px 15px 12px 15px;
  border: none;
  border-radius: 0;
  color: white;
  margin-left: -7px;
  cursor: pointer;
}
#join:hover {
  opacity: 0.75;
}
#label {
  display: inline-block;
  font-weight: bold;
  color: #536175;
  padding-bottom: 5px;
}
/* footer 
  --------------------*/
.support-wrapper {
  width: 100%;
  background-color: #2f496a;
  margin-bottom: 0;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}

.support ul {
  font-family: "century gothic";
  font-size: 1.125rem;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support ul li {
  padding-top: 5px;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.footer {
  margin-top: 0;
  background-color: white;
}
ul.footer {
  display: flex;
  justify-content: center;
}
#copyright {
  font-weight: bold;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding: 12px 20px 12px 20px;
  margin: 0;
}
li.social-media {
  display: inline-block;
}
span.fa {
  font-size: 2rem;
  color: white;
}
#social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.footer {
  margin-top: 0;
  margin-bottom: 0;
}
.small {
  display: inline-block;
  font-size: 1rem;
  font-style: italic;
}
.hamburger-label {
  color: fff;
  font-size: 1.25rem;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 30px;
  display: none;
}
#hamburger-menu {
  display: none;
}
div.mobile-menu {
  font-family: "century gothic";
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  display: none;
}
.mobile-menu a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.mobile-menu a:hover {
  background-color: #f2b705;
}
/* styles that change
--------------------*/
@media only screen and (max-width: 1400px) {
  /* -----------HEADER------------*/
  #search {
    min-width: 400px;
  }
}
@media only screen and (max-width: 1200px) {
  /* ----------HEADER---------- */
  ul.campaign {
    font-size: 1rem;
  }
  .campaign li:before {
    display: none;
  }
  #logo {
    height: 90px;
  }
  figure.logo {
    height: 90px;
  }
  .campaign li {
    margin-right: 10px;
    margin-left: 10px;
  }
  div.home {
    display: none;
  }
  .mobile-wrapper {
    width: 100%;
  }
  #search {
    min-width: 350px;
  }

  /* -----FOOTER----------- */
  ul.footer {
    font-size: 1rem;
  }
  #social-media {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 25px;
  }
  .support p {
    font-size: 1.125rem;
    /* background-color: chartreuse; */
    margin-bottom: 0;
  }
  .support ul {
    font-size: 1rem;
  }
  .small {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1000px) {
  /* -----------HEADER------------*/
  .icon-wrapper {
    width: 100%;
    /* background-color: lightgreen; */
  }
  .mobile-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto 0 auto;
    background-color: white;
    align-items: center;
  }
  div.icons {
    order: 2;
    width: 100%;
    margin: 0;
    padding: 10px 0 5px 0;
    /* background-color: lightcyan; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* border-top: 2px solid var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue); */
  }
  figure.logo {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }
  figcaption.label {
    display: none;
  }
  div.search {
    order: 3;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    /* background-color: lightpink; */
  }
  #search {
    border-radius: 0;
    /* background-color: lightskyblue; */
    margin: 0 0 20px 0;
    width: 100%;
  }
  div.home {
    display: none;
  }
  #mobile-home {
    display: inline;
  }
  /*------------MAIN--------------*/
  div.content-wrapper {
    height: 800px;
  }
  section.content {
    width: 100%;
    height: 800px;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff99;
  }
}
@media only screen and (max-width: 767px) {
  /* .sticky {
    position: static;
  } */
  main {
    padding-bottom: 0;
  }

  /* -----------HEADER------------*/
  #search {
    min-width: 300px;
  }
  #logo {
    margin-left: 0;
  }
  div.campaign {
    width: 100%;
  }
  ul.campaign {
    font-size: 0.75rem;
    /* background-color: lightgreen; */
    width: 85%;
    margin: 0 auto 0 auto;
  }
  .campaign li {
    padding: 10px 5px 10px 0;
    text-align: left;
    margin: 0;
    margin-right: 10px;
    /* background-color: lightpink; */
  }
  .menu-item {
    margin-left: 20px;
    color: var(--yellow);
  }
  #men {
    margin-left: 20px;
  }
  .hamburger-label {
    display: block;
  }
  li.menu-item {
    display: none;
  }
  .dropdown li {
    display: none;
  }
  #hamburger-menu:checked ~ div {
    display: block;
  }
  ul.mobile-menu {
    display: block;
  }
  div.breadcrumb {
    font-size: 0.875rem;
    margin-bottom: 20px;
    margin-left: 7.5%;
  }
  .breadcrumb a {
    padding: 0;
    margin: 0;
  }
  .breadcrumb span {
    padding-left: 5px;
    margin: 0;
  }
  /*------------MAIN-------------*/

  h1 {
    font-size: 1.875rem;
    margin-top: 0;
  }
  h2 {
    font-size: 1.125rem;
    text-decoration: none;
  }
  p {
    font-size: 1rem;
  }
  p.button {
    margin-top: 100px;
  }
  div.main-wrapper {
    background-image: url("../images/main_image-vertical.jpg");
  }
  /* background-color: mediumorchid; */

  /* FOOTER mobile styles */
  .support-container {
    flex-direction: column;
  }
  #social-media {
    font-size: 1rem;
    padding: 0;
  }
  #follow-us {
    padding-top: 30px;
  }
  .support ul {
    /* background-color: blueviolet; */
    margin-top: 10px;
  }
  .support p {
    padding-top: 0;
  }
  .support ul li {
    padding-bottom: 10px;
  }
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer li {
    /* background-color: darkcyan; */
    padding: 5px;
    min-width: 100px;
  }
  .bottom-wrapper {
    flex-direction: column;
  }
  div.newsletter {
    margin: 0 auto 30px auto;
  }
  #newsletter {
    width: 200px;
    margin-bottom: 50px;
  }
  #margin {
    margin-left: 50px;
    margin-right: 20px;
  }
  div.newsletter {
    order: 2;
    margin: 0 auto 40px auto;
    /* background-color: lightgreen; */
  }
  .bottom-wrapper {
    flex-direction: column;
    /* background-color: olive; */
  }
  div.large-buttons {
    order: 1;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    /* background-color: mediumturquoise; */
  }
}
