@font-face {
  font-family: "montserrat";
  src: url();
  font-family: "roboto";
  scr: url();
  font-family: "cenury gothic";
  scr: url();
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 1920px;
  background-color: #f5f5f5;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
  margin: 0;
}
/* header 
--------------------*/
header {
  width: 1920px;
  background-color: white;
  /*position: fixed;*/
}
.campaign {
  width: 1920px;
  font-family: "montserrat";
  font-size: 1.25rem;
  color: #b05625;
  text-align: center;
  background-color: #f2b705;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 10.5px 25px 10.5px 25px;
  display: inline-block;
}
.navigation {
  overflow: hidden;
}
.icons {
  display: inline-block;
  padding-left: 40px;
  color: #172940;
}
.home-icon {
  float: left;
  color: #172940;
  margin-left: 140px;
  margin-top: 40px;
}
.label {
  font-size: 1rem;
  position: relative;
  top: -7px;
  left: -5px;
}
.logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 120px;
}
.search {
  float: left;
  margin-left: 400px;
  margin-top: 40px;
  position: relative;
}
#search {
  border: 2px solid #172940;
  border-radius: 8px;
  width: 500px;
  height: 50px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding-left: 20px;
}
#search-icon {
  position: absolute;
  top: 7.5px;
  right: 1px;
}
.icon-wrapping {
  float: right;
  margin-top: 40px;
  margin-right: 140px;
}
.menu {
  width: 1920px;
  font-family: "monteserrat", verdana, sans-serif;
  font-size: 1.25rem;
  background-color: #172940;
  padding-left: 165px;
  margin-bottom: 0px;
  margin-top: 0;
}
.menu li {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 145px;
}
div a {
  color: #172940;
}
.navigation a:hover {
  text-decoration: underline;
}
.navigation a {
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}
.menu a:hover {
  color: #f2b705;
  text-decoration: underline;
}
/* main
--------------------*/
div.breadcrumb {
  float: left;
  margin: 20px 0px 20px 140px;
  width: 1200px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous {
  color: #a1a1a1;
}
section.products {
  box-sizing: content-box;
  width: 1200px;
  clear: left;
  margin-left: 140px;
}
figure.jacket {
  background-color: white;
  width: 350px;
  height: 391px;
  margin: 10px 20px 10px 0px;
  color: #172940;
  float: left;
}
#selected:hover {
  display: block;
  width: 350px;
  height: 391px;
  opacity: 0.75;
}
.jacket-image {
  margin: 0;
  float: left;
  clear: left;
  padding: 0px;
}
.rating {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  float: left;
}
.rating li {
  display: inline-block;
}
.jacket p {
  margin-left: 30px;
  width: 500px;
  font-family: "montserrat";
  font-size: 0.875rem;
  color: #536175;
  margin: 5px 30px 0px 30px;
  float: left;
  clear: left;
}
figcaption.title {
  font-family: "century gothic";
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0px 30px 40px 30px;
  float: left;
}
.color {
  font-family: "montserrat";
  font-size: 0.875rem;
  text-align: center;
  color: #536175;
  list-style: none;
  padding-left: 0;
  float: right;
  margin: 20px 30px 30px 0px;
}
.color li {
  padding-top: 10px;
}
.make-favorite {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}
.new {
  width: 84px;
  float: right;
  margin-top: -32.5px;
  margin-right: 20px;
}
section.bestsellers {
  background-image: url("../images/mountain_peak.jpg");
  background-repeat: no-repeat;
  width: 525px;
  height: 1213px;
  float: right;
  margin-right: 140px;
  margin-top: 10px;
}
h1 {
  font-family: "century gothic";
  font-size: 1.8rem;
  margin-left: 87.5px;
  margin-top: 70px;
  margin-bottom: 0;
  text-decoration: underline;
}
.jacket.bestseller {
  margin: 30px 87.5px 100px 87.5px;
  border: 2px solid #f5f5f5;
}
.price {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 30px;
  margin-top: -5px;
}
.load {
  font-family: "montserrat";
  font-size: 1.25rem;
  background-color: #172940;
  color: white;
  border: none;
  border-radius: 0;
  padding: 13px 51px 13px 51px;
  margin: 40px 0px 50px 370px;
}
.support-container {
  font-family: "montserrat";
  background-color: #172940;
  color: white;
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
div.support {
  flex: 1;
  margin-left: 140px;
}
.support ul {
  list-style: none;
  padding-left: 0;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  text-decoration: underline;
}
.footer {
  width: 1920px;
  background-color: white;
  text-align: center;
  margin-top: 0;
}
.footer li {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
