@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
:root {
  --dark-blue: #172940;
  --red: #b05625;
  --yellow: #f2b705;
  --center: 0 auto 0 auto;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 100%;
  background-color: #f5f5f5;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
  margin: 0;
}
body * {
  outline: none;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
div.campaign {
  background-color: #f2b705bf;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.125rem;
  color: #000;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 10px 30px;
  display: inline-block;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
nav.icons {
  background-color: white;
}
header {
  display: inline;
}
nav.icons {
  width: 100%;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: flex-end;
  margin: 0 auto 0 auto;
}
.mobile-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
div.icons {
  margin-bottom: 20px;
}
a.icons {
  display: inline-block;
  color: #172940;
  font-size: 1rem;
  text-decoration: none;
}
figure.icons {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#mobile-home {
  display: none;
}
figure.fpb {
  padding-left: 30px;
}
figcaption.label {
  position: relative;
  top: -5px;
  margin-top: 0;
  padding-top: 0;
  color: #000;
}
.icons img {
  height: 40px;
}
.logo {
  margin: 10px;
}
#logo {
  display: inline-block;
  height: 100px;
  margin: 0;
  padding: 0;
}
a.icons:hover {
  text-decoration: underline;
}
form.search {
  position: relative;
}
#search {
  border: 2px solid #000;
  border-radius: 0;
  min-width: 500px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding: 12px 0 12px 15px;
  margin-bottom: 30px;
}
#search:focus {
  background-color: #f5f5f5;
}
#search-label {
  position: absolute;
  top: 7px;
  right: 10px;
}
nav.main-menu {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-color: #172940;
  z-index: 999;
}
div.menu-wrapper {
  width: 70%;
}
.main-menu * a {
  text-decoration: none;
}
ul.menu {
  width: 100%;
  background-color: #172940;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
ul.dropdown {
  background-color: white;
  padding-left: 0;
}
.main-menu li {
  color: white;
  background-color: #172940;
  display: block;
  float: left;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
}
.dropdown li {
  background-color: white;
  display: block;
  float: left;
  padding: 10px 15px 10px 25px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.5s ease;
}
.dropdown li a {
  color: #172940;
}
li a {
  color: white;
  display: block;
}
ul.dropdown > li:hover {
  background-color: #f2b705;
  transition: all 0.5s ease;
  cursor: pointer;
}
ul.menu > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
ul li ul {
  background-color: #f2b705;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 600;
}
.hamburger-label {
  color: fff;
  font-size: 1.25rem;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 30px;
  display: none;
}
#hamburger-menu {
  display: none;
}
div.mobile-menu {
  font-family: "century gothic";
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  display: none;
}
.mobile-menu a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.mobile-menu a:hover {
  background-color: #f2b705;
}
div.breadcrumb {
  margin: 0px 0px 10px 7.5%;
  padding-top: 20px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous,
.angle {
  color: #a1a1a1;
}
/* main
--------------------*/
main {
  width: 100%;
  padding-bottom: 40px;
}
div.wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}
section.products {
  box-sizing: content-box;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
}
section.bestsellers {
  width: 500px;
  background-image: url("../images/mountain_peak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 18px;
}
div.bestsellers {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
figure.jacket {
  background-color: white;
  width: 350px;
  height: 390px;
  margin-left: 0;
  margin-right: 20px;
  color: #172940;
  transition-property: border;
  transition-duration: 0.5s;
  opacity: 1;
  box-shadow: 0 3px 6px #00000029;
  border: 3px solid transparent;
  border-radius: 5px;
}
figure.jacket:hover {
  display: block;
  border: 3px solid grey;
}
figure.bestseller {
  box-sizing: content-box;
  border: 3px solid transparent;
  transition: border;
  transition-duration: 0.5s;
  margin: 50px auto 50px auto;
}
figure.bestseller:hover {
  box-sizing: content-box;
  border: 3px solid grey;
  opacity: 0.9;
}
figure.jacket a {
  display: block;
  width: 350px;
  height: 390px;
  text-decoration: none;
}
.jacket-image {
  margin: 0;
  float: left;
  clear: left;
  padding: 0px;
}
.rating {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  float: left;
}
.rating li {
  display: inline-block;
}
.jacket p {
  margin-left: 30px;
  width: 280px;
  font-family: "montserrat";
  font-size: 0.875rem;
  color: #536175;
  margin: 5px 30px 0px 30px;
  float: left;
  clear: left;
}
figcaption.title {
  font-family: "century gothic";
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0px 30px 40px 30px;
  float: left;
}
figcaption.price {
  color: black;
}
.color {
  font-family: "montserrat";
  font-size: 0.875rem;
  text-align: center;
  color: #536175;
  list-style: none;
  padding-left: 0;
  float: right;
  margin: 20px 30px 30px 0px;
}
.color li {
  padding-top: 10px;
}
.make-favorite {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}
.new {
  width: 84px;
  float: right;
  margin-top: -32.5px;
  margin-right: 20px;
}
h1 {
  font-family: "century gothic";
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  margin-top: 70px;
}
.price {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 30px;
  margin-top: -5px;
}
.button-container {
  width: 355px;
}
.load-wrapper {
  width: 85%;
  margin: var(--center);
  text-align: center;
}
button.load {
  font-family: "montserrat";
  font-size: 1.25rem;
  min-width: 300px;
  color: white;
  border: none;
  border-radius: 0;
  padding: 12px 0 12px 0;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: #172940;
  box-shadow: 0 3px 6px #00000029;
  margin: 70px 0 70px 0;
  cursor: pointer;
}
.load:hover {
  background-color: #172940bf;
  box-shadow: none;
}
div.bottom-wrapper {
  width: 85%;
  margin: var(--center-align);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  margin: 70px auto 0 auto;
}
div.newsletter {
  display: inline-block;
  margin-left: 10%;
}
div.large-buttons {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.large-buttons a {
  font-size: 1rem;
  text-align: center;
}
.contact {
  height: 70px;
  width: 70px;
  background-color: #172940;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}
.chat {
  height: 70px;
  width: 70px;
  background-color: #b05625;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}
a > .contact:hover {
  background-color: #536175bf;
  box-shadow: none;
}
a > .chat:hover {
  background-color: #b05625bf;
  box-shadow: none;
}
#contact {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#chat {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#margin {
  margin-left: 70px;
}
.label {
  display: inline-block;
  margin-top: 5px;
}
#newsletter {
  box-sizing: border-box;
  height: 48px;
  border: solid 2px;
  border-color: #2f496a;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 15px;
}
#join {
  background-color: #2f496a;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding: 12px 15px 12px 15px;
  border: none;
  border-radius: 0;
  color: white;
  margin-left: -7px;
  cursor: pointer;
}
#join:hover {
  opacity: 0.75;
}
#label {
  display: inline-block;
  font-weight: bold;
  color: #536175;
  padding-bottom: 5px;
}
/* footer
--------------------*/
.support-wrapper {
  width: 100%;
  background-color: #2f496a;
  margin-bottom: 0;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  font-family: "century gothic";
  font-size: 1.125rem;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support ul li {
  padding-top: 5px;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.footer {
  margin-top: 0;
  background-color: white;
}
ul.footer {
  display: flex;
  justify-content: center;
}
#copyright {
  font-weight: bold;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding: 12px 20px 12px 20px;
  margin: 0;
}
li.social-media {
  display: inline-block;
}
span.fa {
  font-size: 2rem;
  color: white;
}
#social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.footer {
  margin-top: 0;
  margin-bottom: 0;
}
/* styles that change
--------------------*/
@media only screen and (max-width: 1850px) {
  /* main
--------------------*/
  section.products {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 1480px) {
  /* main
--------------------*/
  div.wrapper {
    flex-direction: column;
  }
  section.bestsellers {
    order: 1;
    width: 100%;
  }
  section.products {
    width: 100%;
    order: 2;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    /*background-color: aqua;*/
  }
  div.bestsellers {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: mediumvioletred; */
  }
}
@media only screen and (max-width: 1400px) {
  /* header
--------------------*/
  #search {
    min-width: 400px;
  }
}
@media only screen and (max-width: 1320px) {
  /* main
--------------------*/
  section.bestsellers {
    width: 100%;
  }
  section.products {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 1200px) {
  /* header
--------------------*/
  ul.campaign {
    font-size: 1rem;
  }
  .campaign li:before {
    display: none;
  }
  #logo {
    height: 90px;
  }
  figure.logo {
    height: 90px;
  }
  .campaign li {
    margin-right: 10px;
    margin-left: 10px;
  }
  div.home {
    display: none;
  }
  .mobile-wrapper {
    width: 100%;
  }
  #search {
    min-width: 350px;
  }
  /* footer
--------------------*/
  ul.footer {
    font-size: 1rem;
  }
  #social-media {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 25px;
  }
  .support p {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .support ul {
    font-size: 1rem;
  }
  .small {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1000px) {
  /* header
--------------------*/
  .sticky {
    display: inline;
    position: static;
  }
  nav.main-menu {
    position: sticky;
    top: 0;
  }
  .icon-wrapper {
    width: 100%;
  }
  .mobile-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto 0 auto;
    background-color: white;
    align-items: center;
  }
  div.icons {
    order: 2;
    width: 100%;
    margin: 0;
    padding: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  figure.logo {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }
  figcaption.label {
    display: none;
  }
  div.search {
    order: 3;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  #search {
    border-radius: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }
  div.home {
    display: none;
  }
  #mobile-home {
    display: inline;
  }
}
@media only screen and (max-width: 870px) {
  /* header
--------------------*/
  #search {
    min-width: 300px;
  }
  #logo {
    margin-left: 0;
  }
  div.campaign {
    width: 100%;
  }
  ul.campaign {
    font-size: 0.75rem;
    width: 85%;
    margin: 0 auto 0 auto;
  }
  .campaign li {
    padding: 10px 5px 10px 0;
    text-align: left;
    margin: 0;
    margin-right: 10px;
  }
  .menu-item {
    margin-left: 20px;
    color: var(--yellow);
  }
  #men {
    margin-left: 20px;
  }
  .hamburger-label {
    display: block;
  }
  li.menu-item {
    display: none;
  }
  .dropdown li {
    display: none;
  }
  #hamburger-menu:checked ~ div {
    display: block;
  }
  ul.mobile-menu {
    display: block;
  }
  .menu-item {
    margin-left: 20px;
    color: var(--yellow);
  }
  div.breadcrumb {
    font-size: 0.875rem;
    margin-bottom: 20px;
    margin-left: 7.5%;
  }
  .breadcrumb a {
    padding: 0;
    margin: 0;
  }
  .breadcrumb span {
    padding-left: 5px;
    margin: 0;
  }
  /* main
--------------------*/
  figure.jacket {
    width: 350px;
  }
  main {
    padding-bottom: 0;
  }
  div.wrapper {
    flex-direction: column;
    width: 100%;
  }
  section.products {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  section.bestsellers {
    width: 100%;
    height: 1100px;
    margin-bottom: 100px;
  }
  div.bestsellers {
    width: 100%;
    flex-direction: column;
  }
  figure.jacket {
    margin: 15px auto 15px auto;
  }
  figure.bestsellers {
    margin: 0;
  }
  #bold {
    margin-top: 10px;
  }
  .bottom-wrapper {
    flex-direction: column;
  }
  div.newsletter {
    margin: 0 auto 30px auto;
  }
  #newsletter {
    width: 200px;
    margin-bottom: 50px;
  }
  #margin {
    margin-left: 50px;
    margin-right: 20px;
  }
  div.newsletter {
    order: 2;
    margin: 0 auto 40px auto;
  }
  .bottom-wrapper {
    flex-direction: column;
  }
  div.large-buttons {
    order: 1;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto 40px auto;
  }
  /* footer
--------------------*/
  .support-container {
    flex-direction: column;
  }
  #logo {
    margin-left: 0;
  }
  #social-media {
    font-size: 1rem;
    padding: 0;
  }
  #follow-us {
    padding-top: 30px;
  }
  .support ul {
    margin-top: 10px;
  }
  .support p {
    padding-top: 0;
  }
  .support ul li {
    padding-bottom: 10px;
  }
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer li {
    padding: 5px;
    min-width: 100px;
  }
}
