@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
:root {
  --center-align: 0 auto 0 auto;
  --dark-blue: #172940;
  --red: #b05625;
  --yellow: #f2b705;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  background-color: #e6e6e6;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: #172940;
  margin: 0;
}
body * {
  outline: none;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
div.campaign {
  background-color: #f2b705bf;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.125rem;
  color: #000;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 10px 30px;
  display: inline-block;
}
.slogan {
  font-family: "montserrat";
  text-align: center;
  margin-right: 20px;
}
#slogan {
  font-family: montserrat;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  margin-top: 20px;
  border-bottom: 2px solid #000;
}
#slogan:before {
  content: "\292C";
  margin-right: 5px;
}
#slogan:after {
  content: "\292C";
  margin-left: 5px;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
header {
  display: inline;
  z-index: 100;
}
nav.icons {
  width: 100%;
  background-color: #fff;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin: 0 auto 0 auto;
  /* background-color: violet; */
}
.mobile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
/* div.icons {
  margin-bottom: 0px;
} */
div.icons {
  position: relative;
}
#home-wrapping {
  display: none;
}
a.icons {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
figure.icons {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#mobile-home {
  display: none;
}
figure.fpb {
  padding-left: 30px;
}
.label {
  position: relative;
  top: -5px;
  margin-top: 0;
  padding-top: 0;
  color: #000;
}
.icons img {
  height: 40px;
}
.logo {
  margin: 10px;
}
#logo {
  display: block;
  height: 110px;
  margin: 0;
  padding: 0;
}
a.icons:hover {
  text-decoration: underline;
}
form.search {
  position: relative;
}
#search {
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: 3px solid #536175bf;
  border-radius: 0;
  min-width: 500px;
  outline: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding: 12px 0 12px 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#search:focus {
  background-color: #fff;
  border: 3px solid var(--yellow);
}
#search-label {
  position: absolute;
  top: 22px;
  right: 10px;
}
#counter {
  animation: shake-animation 5s ease;
  transform-origin: 50% 50%;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 245px;
  background-color: #b05625;
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 9;
  display: none;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* favorites preview */
#triangle-favorites {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5361757d;
  position: relative;
  left: 65px;
}
.favorites {
  background-color: #fff;
  width: 400px;
  height: 250px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 70px;
  left: -50px;
  z-index: 99999999;
  display: none;
  box-shadow: 0 3px 6px #00000029, 0 3px -6px #00000029;
  z-index: 9999999;
  border-bottom: 3px solid #5361757d;
  animation-name: animate-dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

/* profile preview */
.form-wrapper {
  width: 80%;
  margin: 0 auto;
}
#triangle-profile {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5361757d;
  position: relative;
  left: 152px;
}
.profile {
  background-color: #fff;
  width: 400px;
  height: 550px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 70px;
  left: -50px;
  z-index: 99999999;
  display: none;
  box-shadow: 0 3px 6px #00000029, 0 3px -6px #00000029;
  border-bottom: 3px solid #5361757d;
  animation-name: animate-dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.sign-in input {
  font-family: "roboto";
  font-size: 1.125rem;
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid #5361757d;
  background-color: #f5f5f5;
  color: var(--dark-blue);
  padding-left: 15px;
  border-radius: 0;
  transition-property: background-color, border;
  transition-duration: 0.5s;
  border: 2px solid #5361757d;
}
.sign-in input:focus {
  background-color: #fff;
  border: 2px solid #172940;
}
#email {
  max-width: 400px;
}
#password {
  max-width: 400px;
}
.sign-in label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-blue);
  margin-bottom: 5px;
}
#password-label {
  margin-top: 20px;
}
#sign-in {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  width: 60%;
  max-width: 300px;
  padding: 12px 40px;
  color: #fff;
  border: none;
  border-radius: 0;
  margin: 35px 0 35px 70px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: #172940;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px #00000029;
}
#sign-in:hover {
  background: #172940bf;
  box-shadow: none;
}
.sign-in button {
  display: inline-block;
  margin-bottom: 70px;
  box-shadow: 0 3px 6px #00000029;
}
.sign-in p {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
}
#p1 {
  display: inline-block;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  color: #536175;
  transition-property: color;
  transition-duration: 0.5s;
}
#p1:hover {
  color: var(--dark-blue);
}
.p2,
.p3 {
  width: 80%;
  margin: 0 auto;
  font-size: 1.125rem;
  padding: 0;
}
.p3 {
  margin-top: 0;
  padding-top: 0;
}
.successful-login {
  width: 80%;
  margin: 0 auto;
  display: none;
}
#sign-out {
  display: block;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  width: 40%;
  padding: 12px 40px;
  color: #fff;
  border: none;
  border-radius: 0;
  margin: 50px auto 30px auto;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;
}
#sign-out:hover {
  background: #172940bf;
  box-shadow: none;
}
.error-messages {
  display: none;
  font-size: 1rem;
  color: #be3e35;
  margin-top: 5px;
}
.error-messages:before {
  content: "*";
}
@keyframes animate-dropdown {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* basket preview */
#triangle-basket {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5361757d;
  position: relative;
  left: 230px;
}
.basket {
  background-color: #fff;
  width: 400px;
  height: 450px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 70px;
  left: -50px;
  z-index: 99999999;
  display: none;
  box-shadow: 0 3px 6px #00000029, 0 3px -6px #00000029;
  border-bottom: 3px solid #5361757d;
  animation-name: animate-dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.preview-wrapper {
  display: none;
}
#preview-heading {
  font-family: century gothic;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--dark-blue);
}
.jacket-preview {
  height: 100px;
  margin: 0;
  padding: 0;
}
.preview-info p {
  margin: 0;
}
.jacket-preview img {
  height: 100px;
  display: block;
}
table {
  text-align: left;
  margin-top: 20px;
  color: #536175;
}
td {
  padding-left: 60px;
  font-family: montserrat;
  font-weight: bold;
  color: var(--dark-blue);
}
#proceed-basket {
  text-decoration: none;
}
#proceed-basket button {
  display: block;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 40px;
  color: #fff;
  border: none;
  border-radius: 0;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: #172940;
  border-radius: 5px;
  margin: 50px auto 35px auto;
  box-shadow: 0 3px 6px #00000029;
  cursor: pointer;
}
#proceed-basket button:hover {
  background: #172940bf;
  box-shadow: none;
}
#proceed-basket button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

/* basket preview end */
nav.main-menu {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-color: #172940;
  z-index: 999;
}
div.menu-wrapper {
  width: 70%;
}
.main-menu * a {
  text-decoration: none;
}
ul.menu {
  width: 100%;
  background-color: #172940;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
ul.dropdown {
  background-color: white;
  padding-left: 0;
}
.main-menu li {
  color: white;
  background-color: #172940;
  display: block;
  float: left;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
}
.dropdown li {
  background-color: white;
  display: block;
  float: left;
  padding: 10px 15px 10px 25px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.5s ease;
}
.dropdown li a {
  color: #172940;
}
li a {
  color: white;
  display: block;
}
ul.dropdown > li:hover {
  background-color: #f2b705;
  transition: all 0.5s ease;
  cursor: pointer;
}
ul.menu > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
ul li ul {
  background-color: #f2b705;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 600;
}
.hamburger-label {
  font-size: 1.25rem;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 30px;
  display: none;
}
#hamburger-menu {
  display: none;
}
div.mobile-menu {
  font-family: "century gothic";
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  display: none;
}
.mobile-menu a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.mobile-menu a:hover {
  background-color: #f2b705;
}
/* h6 {
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: #5361757d;
  padding: 14px 0px 14px 20px;
  margin-bottom: 20px;
  margin-top: 0;
} */
div.breadcrumb {
  margin: 0px 0px 20px 7.5%;
  padding-top: 15px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #172940;
}
.previous {
  color: #172940;
}
.angle {
  color: #172940;
  display: inline-block;
  margin: 0;
  padding-right: 1rem;
}
/* main
--------------------*/
main {
  width: 100%;
  padding-bottom: 40px;
}
.main-wrapper {
  width: 85%;
  display: flex;
  align-items: flex-start;
  margin: var(--center-align);
}
section.product-card {
  box-sizing: content-box;
  background-color: #fff;
  height: 700px;
  flex: 2;
  margin-bottom: 70px;
  position: relative;
}
div.image {
  flex: 1;
  margin-left: 15px;
  height: 700px;
}
.image {
  display: block;
  height: 700px;
}
.column-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.right-column {
  max-width: 520px;
}
.product-image {
  margin: 0;
}
.product-image img {
  width: 400px;
  margin-left: 0;
}
#review-link {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  bottom: 50px;
}
#short-description {
  color: var(--dark-blue);
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}
#short-description li {
  list-style: disc;
}
ul.list-symbol {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
ul.list-inline {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.rating li {
  display: inline-block;
  padding-left: 5px;
}
li.size {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  width: 55px;
  background-color: #c2c2c2;
  text-align: center;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #5361757d;
}
li.symbol {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}
figure.symbol {
  padding: 0;
  margin: 0 30px 0 0;
  font-size: 1.875rem;
}
figure figcaption {
  font-size: 1rem;
}
ul.rating {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
}
.rating li img {
  width: 40px;
}
span {
  font-family: "century gothic";
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}
h1 {
  font-family: "century gothic";
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
h2 {
  font-family: "montserrat";
  font-size: 1.125rem;
  font-weight: 400;
  color: #536175;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  font-family: "century gothic";
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
h4 {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 600;
  height: 30px;
  margin: 5px 10px 0 0;
  padding-top: 5px;
  padding-bottom: 0;
}
h5 {
  font-family: 600;
  font-size: 1.75rem;
  margin-bottom: 5px;
  margin-top: 10px;
}
p {
  font-size: 1.125rem;
  color: var(--dark-blue);
  margin-top: 5px;
  margin-bottom: 20px;
}
p.description {
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 150px;
}
#price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto 0 auto;
  align-items: baseline;
}
#price-container {
  display: flex;

  margin-bottom: 0;
}
#ordinary-price {
  text-decoration: line-through;
  display: inline-block;
  margin-left: 10px;
  display: none;
}
#basket-container {
  margin-top: 0;
  padding-top: 0;
}
#basket-button {
  box-sizing: border-box;
  display: block;
  font-family: "montserrat";
  font-size: 1.25rem;
  background-color: #b05625;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  padding: 12px 15px 12px 15px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: opacity, box-shadow;
  transition-duration: 0.5s;
  opacity: 1;
  z-index: 100;
  width: 60%;
  margin: 0 auto 0 auto;
}
#basket-button:hover {
  opacity: 0.75;
  box-shadow: none;
}
#basket-button:disabled {
  background-color: #cccccc;
  color: #666666;
}
/* input[type="submit"]:hover {
  opacity: 0.75;
  box-shadow: none;
} */
#circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
#stock {
  height: 20px;
  padding: 0;
}
#in-stock {
  display: inline-block;
  font-size: 0.875rem;
  color: black;
  position: relative;
  top: -3px;
}
#basket {
  display: block;
  width: 36px;
  position: absolute;
  left: 250px;
  top: 5px;
  z-index: 10;
  cursor: pointer;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
}
.form-container div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
figure.radio {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
}
#color {
  display: flex;
}
#color label {
  text-align: center;
}
#color label p {
  font-size: 0.875rem;
  background-color: #e6e6e6;
  color: #172940;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
label > input[name="color"] {
  display: none;
}
label > input[name="color"] + ::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 3px solid #e6e6e6;
  cursor: pointer;
  margin-right: 20px;
}
/* input[value="blue"] + ::before {
  background-color: #536175;
}
input[value="red"] + ::before {
  background-color: #b05625;
}
input[value="yellow"] + ::before {
  background-color: #f2b705;
} */
label > input[name="color"]:hover + ::before {
  opacity: 0.75;
  border-color: #c2c2c2;
}
label > input[name="color"]:checked + ::before {
  border-color: #000;
  background-color: #000;
}

label > input[name="size"] {
  display: none;
}
label > input[name="size"] + ::before {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: #e6e6e6;
  border: 3px solid transparent;
  border-radius: 5px;
  padding-top: 3px;
}
input[value="xs"] + ::before {
  font-size: 1.125rem;
  content: "XS";
}
input[value="s"] + ::before {
  font-size: 1.125rem;
  content: "S";
}
input[value="m"] + ::before {
  font-size: 1.125rem;
  content: "M";
}
input[value="l"] + ::before {
  font-size: 1.125rem;
  content: "L";
}
input[value="xl"] + ::before {
  font-size: 1.125rem;
  content: "XL";
}
label > input[name="size"]:hover + ::before {
  background-color: #c2c2c2bf;
}
label > input[name="size"]:checked + ::before {
  border-color: var(--dark-blue);
}

/* bottom wrapper */
div.bottom-wrapper {
  width: 85%;
  margin: var(--center-align);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  margin: 70px auto 0 auto;
}
div.newsletter {
  display: inline-block;
  margin: 0 auto;
}
div.large-buttons {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.large-buttons a {
  font-size: 1rem;
  text-align: center;
}
.contact {
  height: 70px;
  width: 70px;
  background-color: #172940;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.chat {
  height: 70px;
  width: 70px;
  background-color: #b05625;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}
a > .contact:hover {
  background-color: #536175bf;
  box-shadow: none;
}
a > .chat:hover {
  background-color: #b05625bf;
  box-shadow: none;
}
#contact {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#chat {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#margin {
  margin-left: 70px;
}
/* newsletter */
#emails {
  box-sizing: border-box;
  height: 48px;
  max-width: 400px;
  border: solid 3px;
  border-color: #172940;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 15px;
  background-color: #fff;
}
#emails:focus {
  border-color: var(--yellow);
}
#join {
  background-color: #172940;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  margin-left: -7px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#join:hover {
  background-color: #172940bf;
}
#label {
  display: inline-block;
  font-weight: bold;
  color: #172940;
  padding-bottom: 8px;
}
.error-message {
  visibility: hidden;
  font-size: 1rem;
  color: #be3e35;
  margin-top: 5px;
}
.error-message:before {
  content: "*";
}
#success {
  font-size: 1.25rem;
  font-weight: bold;
  color: green;
  position: relative;
  top: -8px;
}
#success:before {
  content: "\2714";
  font-size: 2rem;
}
/* Costumer reviews */
.reviews {
  max-height: 720px;
  display: none;
  background-color: #f5f5f5;
  width: 520px;
  padding-bottom: 12px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 700;
  border-left: 20px solid #aaafb5;
  border-right: 5px solid #aaafb5;
  border-bottom: 5px solid #aaafb5;
  border-radius: 15px 0 0 0;
  animation-name: animate-reviews;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
@keyframes animate-reviews {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#close-reviews {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
.reviews ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reviews ul li {
  margin-bottom: 20px;
}
h6 {
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: #aaafb5;
  padding: 14px 0px 14px 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.customer-review {
  display: flex;
}
.customer-review figure {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
.customer-review figure img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: block;
}
.review-comment p {
  margin: 0;
  padding-right: 2rem;
}
.review-heading {
  font-family: century gothic;
  font-weight: bold;
  color: #172940;
  padding-bottom: 3px;
}
.star-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}
.star-wrapper figure {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}
.star-wrapper figure img {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}
#triangle-reviews {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 25px solid #aaafb5;
  position: absolute;
  bottom: 30px;
  right: 540px;
  z-index: 1000;
}
/* error message */
.error {
  color: white;
  font-size: 1.125rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #be3e35;
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}
.spinner {
  border: 12px solid #17294040;
  border-top: 12px solid #536175;
  margin: 30px 30px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fading-background {
  background-color: #00000099;
  position: absolute;
  z-index: 600;
  width: 100%;
  height: 1264px;
  display: none;
  top: 200px;
}
/* footer
--------------------*/
.support-wrapper {
  width: 100%;
  background-color: #2f496a;
  margin-bottom: 0;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}

.support ul {
  font-family: "century gothic";
  font-size: 1.125rem;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support ul li {
  padding-top: 5px;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.footer {
  margin-top: 0;
  background-color: white;
}
ul.footer {
  display: flex;
  justify-content: center;
}
#copyright {
  font-weight: bold;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding: 12px 20px 12px 20px;
  margin: 0;
}
li.social-media {
  display: inline-block;
}
span.fa {
  font-size: 2rem;
  color: white;
}
#social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.footer {
  margin-top: 0;
  margin-bottom: 0;
}
/* styles that change
--------------------*/
@media only screen and (max-width: 1750px) {
  /* main
--------------------*/
  div.image {
    height: 680px;
  }
  .image {
    height: 680px;
  }
}
@media only screen and (max-width: 1600px) {
  /* main
--------------------*/
  div.image {
    display: none;
  }
  section.product-card {
    width: 100%;
    height: 700px;
    margin: 0;
  }
  .fading-background {
    height: 1250px;
  }
}
@media only screen and (max-width: 1400px) {
  /* header
--------------------*/
  #search {
    min-width: 400px;
  }
}
@media only screen and (max-width: 1200px) {
  /* main
--------------------*/
  ul.campaign {
    font-size: 1rem;
  }
  .campaign li:before {
    display: none;
  }
  #logo {
    height: 70px;
  }
  figure.logo {
    height: 70px;
  }
  .campaign li {
    margin-right: 10px;
    margin-left: 10px;
  }
  div.home {
    display: none;
  }
  .mobile-wrapper {
    width: 100%;
  }
  #search {
    min-width: 350px;
  }
  /* main
--------------------*/
  .product-image img {
    width: 350px;
    margin-left: 0;
  }
  section.product-card {
    height: 700px;
  }
  .fading-background {
    top: 150px;
  }
  h6 {
    font-size: 1.5rem;
  }
  #review-link {
    bottom: 120px;
    font-size: 1rem;
  }
  #triangle-reviews {
    display: none;
  }
  .fading-background {
    height: 1300px;
  }
  /* footer
--------------------*/
  ul.footer {
    font-size: 1rem;
  }
  #social-media {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 25px;
  }
  .support p {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .support ul {
    font-size: 1rem;
  }
  .small {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    font-size: 1rem;
  }
  /* header
--------------------*/
  .sticky {
    display: inline;
    position: static;
  }
  nav.main-menu {
    position: sticky;
    top: 0;
  }
  .icon-wrapper {
    width: 100%;
  }
  .mobile-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto 0 auto;
    background-color: white;
    align-items: center;
  }
  div.icons {
    order: 3;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  figure.logo {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }
  figcaption.label {
    display: none;
  }
  div.search {
    order: 2;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  #search {
    border-radius: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }
  div.home {
    display: none;
  }
  #mobile-home {
    display: inline;
  }
  /* new styles */
  .basket {
    top: 55px;
    right: 0;
  }
  #search-label {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .fading-background {
    top: 300px;
    height: 1774px;
  }
  .favorites,
  .profile,
  .basket {
    width: 360px;
    top: 50px;
  }
  #triangle-favorites {
    left: 90px;
  }
  #triangle-profile {
    left: 160px;
  }

  /* main
--------------------*/
  .main-wrapper {
    width: 85%;
  }
  section.product-card {
    width: 85%;
    height: 1250px;
    margin: 0;
  }
  div.column-wrapper {
    flex-direction: column;
  }
  h1 {
    margin-top: 70px;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .symbol figcaption {
    font-size: 0.875rem;
  }
  #review-link {
    bottom: -20px;
  }
  .reviews {
    bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  /* header
--------------------*/
  #search {
    min-width: 300px;
  }
  #logo {
    margin-left: 0;
  }
  div.campaign {
    width: 100%;
  }
  ul.campaign {
    font-size: 0.75rem;
    width: 85%;
    margin: 0 auto 0 auto;
  }
  .campaign li {
    padding: 10px 5px 10px 0;
    text-align: left;
    margin: 0;
    margin-right: 10px;
  }
  .menu-item {
    margin-left: 20px;
    color: var(--yellow);
  }
  #men {
    margin-left: 20px;
  }
  .hamburger-label {
    display: block;
  }
  li.menu-item {
    display: none;
  }
  .dropdown li {
    display: none;
  }
  #hamburger-menu:checked ~ div {
    display: block;
  }
  ul.mobile-menu {
    display: block;
  }
  div.breadcrumb {
    font-size: 0.875rem;
    margin-bottom: 20px;
    margin-left: 7.5%;
  }
  .breadcrumb a {
    padding: 0;
    margin: 0;
  }
  .breadcrumb span {
    padding-left: 5px;
    margin: 0;
  }
  .angle {
    font-size: 0.875rem;
  }
  /* new styles */
  .favorites,
  .profile,
  .basket {
    position: absolute;
    width: 360px;
    left: -55px;
    top: 50px;
  }
  #triangle-favorites {
    left: 95px;
  }
  #triangle-profile {
    left: 165px;
  }
  #triangle-basket {
    left: 235px;
  }
  #mobile-hide {
    display: none;
  }
  .campaign li:before {
    display: inline-block;
  }
  .rating-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    left: 0;
  }
  #triangle-reviews {
    display: none;
  }
  .customer-review figure {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .customer-review figure img {
    height: 60px;
    width: 60px;
  }
  .star-wrapper figure {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .star-wrapper figure img {
    width: 25px;
    height: 25px;
  }
  /* main
--------------------*/
  main {
    padding-bottom: 0;
  }
  div.left-column {
    flex-direction: column;
  }
  div.last-wrapper {
    padding: 0;
    margin: 0;
  }
  #margin {
    margin-left: 50px;
    margin-right: 20px;
  }
  .product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-image img {
    width: 300px;
  }
  .main-wrapper {
    width: 100%;
  }
  section.product-card {
    width: 100%;
    height: 1130px;
    margin: 0;
  }
  .column-wrapper {
    flex-direction: column;
  }
  #basket-container {
    margin-top: 20px;
  }
  h1 {
    margin-top: 20px;
  }
  .fading-background {
    height: 2354px;
  }

  /* bottom wrapper */
  .bottom-wrapper {
    flex-direction: column;
  }
  form.newsletter {
    width: 100%;
  }
  #emails {
    width: 210px;
  }
  div.newsletter {
    order: 2;
    margin: 0 auto 0 auto;
  }
  div.large-buttons {
    order: 1;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto 40px auto;
  }

  /* footer
--------------------*/
  .support-container {
    flex-direction: column;
  }
  #logo {
    margin-left: 0;
  }
  #social-media {
    font-size: 1rem;
    padding: 0;
  }
  #follow-us {
    padding-top: 30px;
  }
  .support ul {
    margin-top: 10px;
  }
  .support p {
    padding-top: 0;
  }
  .support ul li {
    padding-bottom: 10px;
  }
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer li {
    padding: 5px;
    min-width: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .reviews {
    width: 100%;
    left: 0;
    border-left: none;
    border-right: none;
  }
}
