@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
:root {
  --center-align: 0 auto 0 auto;
  --dark-blue: #172940;
  --red: #b05625;
  --yellow: #f2b705;
  --shadow: 0 3px 6px #00000029;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #e6e6e6;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  color: black;
  margin: 0;
}
body * {
  outline: none;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
div.campaign {
  background-color: #f2b705bf;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.125rem;
  color: #000;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 10px 30px;
  display: inline-block;
}
.slogan {
  font-family: "montserrat";
  text-align: center;
  margin-right: 20px;
}
#slogan {
  font-family: montserrat;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  margin-top: 20px;
  border-bottom: 2px solid #000;
}
#slogan:before {
  content: "\292C";
  margin-right: 5px;
}
#slogan:after {
  content: "\292C";
  margin-left: 5px;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
header {
  display: inline;
  z-index: 100;
}
nav.icons {
  width: 100%;
  background-color: #fff;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin: 0 auto 0 auto;
  /* background-color: violet; */
}
.mobile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
/* div.icons {
  margin-bottom: 0px;
} */
div.icons {
  position: relative;
}
#home-wrapping {
  display: none;
}
a.icons {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
figure.icons {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#mobile-home {
  display: none;
}
figure.fpb {
  padding-left: 30px;
}
.label {
  position: relative;
  top: -5px;
  margin-top: 0;
  padding-top: 0;
  color: #000;
}
.icons img {
  height: 40px;
}
.logo {
  margin: 10px;
}
#logo {
  display: block;
  height: 110px;
  margin: 0;
  padding: 0;
}
a.icons:hover {
  text-decoration: underline;
}
form.search {
  position: relative;
}
#search {
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: 3px solid #536175bf;
  border-radius: 0;
  min-width: 500px;
  outline: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding: 12px 0 12px 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#search:focus {
  background-color: #fff;
  border: 3px solid var(--yellow);
}
#search-label {
  position: absolute;
  top: 22px;
  right: 10px;
}
#counter {
  animation: shake-animation 5s ease;
  transform-origin: 50% 50%;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 245px;
  background-color: #b05625;
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 9;
  display: none;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* favorites preview */
#triangle-favorites {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5361757d;
  position: relative;
  left: 65px;
}
.favorites {
  background-color: #fff;
  width: 400px;
  height: 250px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 70px;
  left: -50px;
  z-index: 99999999;
  display: none;
  box-shadow: 0 3px 6px #00000029, 0 3px -6px #00000029;
  z-index: 9999999;
  border-bottom: 3px solid #5361757d;
}

/* profile preview */
.form-wrapper {
  width: 80%;
  margin: 0 auto;
}
#triangle-profile {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5361757d;
  position: relative;
  left: 152px;
}
.profile {
  background-color: #fff;
  width: 400px;
  height: 550px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 70px;
  left: -50px;
  z-index: 99999999;
  display: none;
  box-shadow: 0 3px 6px #00000029, 0 3px -6px #00000029;
  border-bottom: 3px solid #5361757d;
}
.sign-in input {
  font-family: "roboto";
  font-size: 1.125rem;
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid #5361757d;
  background-color: #f5f5f5;
  color: var(--dark-blue);
  padding-left: 15px;
  border-radius: 0;
  transition-property: background-color, border;
  transition-duration: 0.5s;
  border-bottom: 3px solid #5361757d;
}
.sign-in input:focus {
  background-color: #fff;
  border: 2px solid #172940;
}
#email {
  max-width: 400px;
}
#password {
  max-width: 400px;
}
.sign-in label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-blue);
  margin-bottom: 5px;
}
#password-label {
  margin-top: 20px;
}
#sign-in {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  width: 60%;
  max-width: 300px;
  padding: 12px 40px;
  color: #fff;
  border: none;
  border-radius: 0;
  margin: 35px 0 35px 70px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: #172940;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px #00000029;
}
#sign-in:hover {
  background: #172940bf;
  box-shadow: none;
}
.sign-in button {
  display: inline-block;
  margin-bottom: 70px;
  box-shadow: 0 3px 6px #00000029;
}
.sign-in p {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
}
#p1 {
  display: inline-block;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  color: #536175;
  transition-property: color;
  transition-duration: 0.5s;
}
#p1:hover {
  color: var(--dark-blue);
}
.p2,
.p3 {
  width: 80%;
  margin: 0 auto;
  font-size: 1.125rem;
  padding: 0;
}
.p3 {
  margin-top: 0;
  padding-top: 0;
}
.successful-login {
  width: 80%;
  margin: 0 auto;
  display: none;
}
#sign-out {
  display: block;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  width: 60%;
  max-width: 300px;
  padding: 12px 40px;
  color: #fff;
  border: none;
  border-radius: 0;
  margin: 30px auto 30px 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;
}
#sign-out:hover {
  background: #172940bf;
  box-shadow: none;
}
.error-messages {
  display: none;
  font-size: 1rem;
  color: #be3e35;
  margin-top: 5px;
}
.error-messages:before {
  content: "*";
}
/* basket preview */
#triangle-basket {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #5361757d;
  position: relative;
  left: 230px;
}
.basket {
  background-color: #fff;
  width: 400px;
  height: 450px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 70px;
  left: -50px;
  z-index: 99999999;
  display: none;
  box-shadow: 0 3px 6px #00000029, 0 3px -6px #00000029;
  border-bottom: 3px solid #5361757d;
}
.preview-wrapper {
  display: none;
}
#preview-heading {
  font-family: century gothic;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--dark-blue);
}
.jacket-preview {
  height: 100px;
  margin: 0;
  padding: 0;
}
.preview-info p {
  margin: 0;
}
.jacket-preview img {
  height: 100px;
  display: block;
}
table {
  text-align: left;
  margin-top: 20px;
  color: #536175;
}
td {
  padding-left: 60px;
  font-family: montserrat;
  font-weight: bold;
  color: var(--dark-blue);
}
#proceed-basket {
  text-decoration: none;
}
#proceed-basket button {
  display: block;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 40px;
  color: #fff;
  border: none;
  border-radius: 0;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: #172940;
  border-radius: 5px;
  margin: 50px auto 35px auto;
  box-shadow: 0 3px 6px #00000029;
  cursor: pointer;
}
#proceed-basket button:hover {
  background: #172940bf;
  box-shadow: none;
}
#proceed-basket button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

/* basket preview end */
nav.main-menu {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-color: #172940;
  z-index: 999;
}
div.menu-wrapper {
  width: 70%;
}
.main-menu * a {
  text-decoration: none;
}
ul.menu {
  width: 100%;
  background-color: #172940;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
ul.dropdown {
  background-color: white;
  padding-left: 0;
}
.main-menu li {
  color: white;
  background-color: #172940;
  display: block;
  float: left;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
}
.dropdown li {
  background-color: white;
  display: block;
  float: left;
  padding: 10px 15px 10px 25px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.5s ease;
}
.dropdown li a {
  color: #172940;
}
li a {
  color: white;
  display: block;
}
ul.dropdown > li:hover {
  background-color: #f2b705;
  transition: all 0.5s ease;
  cursor: pointer;
}
ul.menu > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
ul li ul {
  background-color: #f2b705;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 600;
}
.hamburger-label {
  font-size: 1.25rem;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 30px;
  display: none;
}
#hamburger-menu {
  display: none;
}
div.mobile-menu {
  font-family: "century gothic";
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  display: none;
}
.mobile-menu a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.mobile-menu a:hover {
  background-color: #f2b705;
}
div.breadcrumb {
  margin: 0px 0px 20px 7.5%;
  padding-top: 15px;
}
.breadcrumb a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
  color: #536175;
}
.previous {
  color: #536175;
}
.angle {
  color: #536175;
  display: inline-block;
  margin: 0;
}
h6 {
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: #5361757d;
  padding: 14px 0px 14px 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
/* main 
  --------------------*/
main {
  width: 100%;
  padding-bottom: 40px;
}
h1 {
  font-family: "century gothic", verdana, sans-serif;
  font-size: 2rem;
  padding-top: 30px;
  margin-bottom: 30px;
}
h2 {
  font-family: "montserrat", verdana, sans-serif;
  color: #b05625;
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 5px;
}
p {
  margin-top: 10px;
}
div.content-wrapper {
  width: 85%;
  display: flex;
  background-image: url(../images/skiing-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: var(--center-align);
  border-radius: 15px;
}
section.content {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff99;
  border-radius: 15px 0 0 15px;
}
a.button {
  text-decoration: none;
}
p.button {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #172940;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 50px;
  text-align: center;
  margin: 50px 0 120px 60px;
  box-shadow: var(--shadow);
  transition: background-color, box-shadow;
  transition-duration: 0.5s;
  display: inline-block;
}
p.button:hover {
  background-color: #172940bf;
  box-shadow: none;
}
/* bottom wrapper */
div.bottom-wrapper {
  width: 85%;
  margin: var(--center-align);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  margin: 70px auto 0 auto;
}
div.newsletter {
  display: inline-block;
  margin: 0 auto;
}
div.large-buttons {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.large-buttons a {
  font-size: 1rem;
  text-align: center;
}
.contact {
  height: 70px;
  width: 70px;
  background-color: #172940;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.chat {
  height: 70px;
  width: 70px;
  background-color: #b05625;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}
a > .contact:hover {
  background-color: #536175bf;
  box-shadow: none;
}
a > .chat:hover {
  background-color: #b05625bf;
  box-shadow: none;
}
#contact {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#chat {
  margin: 0 auto 0 auto;
  width: 40px;
  padding-top: 15px;
}
#margin {
  margin-left: 70px;
}
/* newsletter */
#emails {
  box-sizing: border-box;
  height: 48px;
  max-width: 400px;
  border: solid 3px;
  border-color: #172940;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 15px;
  background-color: #fff;
}
#emails:focus {
  border-color: var(--yellow);
}
#join {
  background-color: #172940;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  margin-left: -7px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#join:hover {
  background-color: #172940bf;
}
#label {
  display: inline-block;
  font-weight: bold;
  color: #172940;
  padding-bottom: 8px;
}
.error-message {
  visibility: hidden;
  font-size: 1rem;
  color: #be3e35;
  margin-top: 5px;
}
.error-message:before {
  content: "*";
}
#success {
  font-size: 1.25rem;
  font-weight: bold;
  color: green;
  position: relative;
  top: -8px;
}
#success:before {
  content: "\2714";
  font-size: 2rem;
}
/* footer 
  --------------------*/
.support-wrapper {
  width: 100%;
  background-color: #2f496a;
  margin-bottom: 0;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  font-family: "century gothic";
  font-size: 1.125rem;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support ul li {
  padding-top: 5px;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.footer {
  margin-top: 0;
  background-color: white;
}
ul.footer {
  display: flex;
  justify-content: center;
}
#copyright {
  font-weight: bold;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding: 12px 20px 12px 20px;
  margin: 0;
}
li.social-media {
  display: inline-block;
}
span.fa {
  font-size: 2rem;
  color: white;
}
#social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.footer {
  margin-top: 0;
  margin-bottom: 0;
}
/* styles that change
--------------------*/
@media only screen and (max-width: 1400px) {
  /* header 
  --------------------*/
  #search {
    min-width: 400px;
  }
}
@media only screen and (max-width: 1200px) {
  /* header 
  --------------------*/
  ul.campaign {
    font-size: 1rem;
  }
  .campaign li:before {
    display: none;
  }
  #logo {
    height: 90px;
  }
  figure.logo {
    height: 90px;
  }
  .campaign li {
    margin-right: 10px;
    margin-left: 10px;
  }
  div.home {
    display: none;
  }
  .mobile-wrapper {
    width: 100%;
  }
  #search {
    min-width: 350px;
  }
  /* footer 
  --------------------*/
  ul.footer {
    font-size: 1rem;
  }
  #social-media {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 25px;
  }
  .support p {
    font-size: 1.125rem;
    /* background-color: chartreuse; */
    margin-bottom: 0;
  }
  .support ul {
    font-size: 1rem;
  }
  .small {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1000px) {
  /* header 
  --------------------*/
  .sticky {
    display: inline;
    position: static;
  }
  nav.main-menu {
    position: sticky;
    top: 0;
  }
  .icon-wrapper {
    width: 100%;
  }
  .mobile-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto 0 auto;
    background-color: white;
    align-items: center;
  }
  div.icons {
    order: 3;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  figure.logo {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }
  figcaption.label {
    display: none;
  }
  div.search {
    order: 2;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  #search {
    border-radius: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }
  div.home {
    display: none;
  }
  #mobile-home {
    display: inline;
  }
  /* new styles */
  .basket {
    top: 55px;
    right: 0;
  }
  #search-label {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  /* main 
  --------------------*/
  div.content-wrapper {
    height: 800px;
  }
  section.content {
    width: 100%;
    height: 800px;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff99;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* header 
  --------------------*/
  #search {
    min-width: 300px;
  }
  #logo {
    margin-left: 0;
  }
  div.campaign {
    width: 100%;
  }
  ul.campaign {
    font-size: 0.75rem;
    width: 85%;
    margin: 0 auto 0 auto;
  }
  .campaign li {
    padding: 10px 5px 10px 0;
    text-align: left;
    margin: 0;
    margin-right: 10px;
  }
  .menu-item {
    margin-left: 20px;
    color: var(--yellow);
  }
  #men {
    margin-left: 20px;
  }
  .hamburger-label {
    display: block;
  }
  li.menu-item {
    display: none;
  }
  .dropdown li {
    display: none;
  }
  #hamburger-menu:checked ~ div {
    display: block;
  }
  ul.mobile-menu {
    display: block;
  }
  div.breadcrumb {
    font-size: 0.875rem;
    margin-bottom: 20px;
    margin-left: 7.5%;
  }
  .breadcrumb a {
    padding: 0;
    margin: 0;
  }
  .breadcrumb span {
    padding-left: 5px;
    margin: 0;
  }
  /* new styles */
  .favorites,
  .profile,
  .basket {
    position: absolute;
    width: 360px;
    left: -55px;
    top: 50px;
  }
  #triangle-favorites {
    left: 95px;
  }
  #triangle-profile {
    left: 165px;
  }
  #triangle-basket {
    left: 235px;
  }
  #mobile-hide {
    display: none;
  }
  .campaign li:before {
    display: inline-block;
  }
  .reviews {
    width: 360px;
    bottom: 580px;
    right: 200px;
    z-index: 999999;
  }
  #triangle-reviews {
    display: none;
  }
  /* main 
  --------------------*/
  main {
    padding-bottom: 0;
  }
  h1 {
    font-size: 1.875rem;
    margin-top: 0;
  }
  h2 {
    font-size: 1.125rem;
    text-decoration: none;
  }
  p {
    font-size: 1rem;
  }
  p.button {
    margin-top: 100px;
  }
  div.main-wrapper {
    background-image: url("../images/main_image-vertical.jpg");
  }
  /* bottom wrapper */
  .bottom-wrapper {
    flex-direction: column;
  }
  form.newsletter {
    width: 100%;
  }
  #emails {
    width: 210px;
  }
  div.newsletter {
    order: 2;
    margin: 0 auto 0 auto;
  }
  div.large-buttons {
    order: 1;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto 40px auto;
  }
  p.button {
    margin: 10px 0 0 25px;
  }
  /* footer 
  --------------------*/
  .support-container {
    flex-direction: column;
  }
  #social-media {
    font-size: 1rem;
    padding: 0;
  }
  #follow-us {
    padding-top: 30px;
  }
  .support ul {
    margin-top: 10px;
  }
  .support p {
    padding-top: 0;
  }
  .support ul li {
    padding-bottom: 10px;
  }
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer li {
    padding: 5px;
    min-width: 100px;
  }
}
