@font-face {
  font-family: 'montserrat';
  src: url();
  font-family: 'roboto';
  scr: url();
  font-family: 'cenury gothic'
  src: url(); 
}
/* global 
--------------------*/
body {
  width: 1920px;
  background-color: #f5f5f5;
  font-family: "montserrat", verdana, sans-serif;
  font-size: 1.25rem;
  color: #172940;
  margin: 0;
}
/* header 
--------------------*/
/* main 
--------------------*/
div.main {
  height: 903px;
  background-image: url("../images/main_image.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}
section.eye-catcher {
  max-width: 700px;
  max-height: 300px;
  margin-top: 70px;
}
section.about-us {
  max-width: 430px;
  max-height: 300px;
  margin-top: 70px;
}
section.categorys {
  max-width: 1103px;
}
div.categorys {
  display: grid;
  grid-template-rows: auto auto ;
  grid-template-columns: auto auto;
}
figure.categorys {
  width: 500px;
  height: 333px;
  font-family: "montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  border-width: 16px 16px 50px 16px;
  border-style: solid;
  border-color: white;
  text-align: center; 
  margin-left: 0;
}
.section.news {
  max-width: 460px;
}
.img-block {
  display: block;
}
figure.news {
  margin-left: 0;
}
h1 {
  font-family: "balboa", sans-serif;
  font-size: 3.125rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-size: 1.5rem;
  color: #b05625;
  margin-top: 0;
  margin-left: 65px;
}
h3 {
  font-family: "century gothic", sans-serif;
  font-size: 2rem;
  margin: 0;
  text-decoration: underline;
}
a.about {
  color: #b05625;
  font-size: 1rem;
}
h4 {
  font-size: 1.875rem;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: white;
  margin-bottom: 0;
}
h5 {
  max-width: 460px;
  font-family: "century gothic", sans-serif;
  font-size: 2.375rem;
  background-color: white;
  margin-bottom: 0;
}
h6 {
  max-width: 525px;
  font-family: "century gothic";
  font-size: 2.5rem;
  background-color: black;
  font-weight: 200;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
}
div.join-instagram {
  max-width: 525px;
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: black;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.join-instagram p {
  margin: 0; 
  font-weight: 700;
}
p.yellow {
  font-family: "montserrat";
  font-size: 1.5rem;
  color: #F2B705;
  margin-left: 230px;
}
div.instagram {
  max-width: 525px;
  height: 271px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    background-color: white;
}
figure.instagram {
  margin: 0;
  padding: 0;
}
#about {
  margin: 0;
  padding: 10px 0px 5px 0px;
  color: #b05625;
}
.about {
  margin: 0;  
}

section.news {
  color: black;
}
figure.news {
 margin: 0;
}
#news {  
  max-width: 460px;
  background-color: white;
  margin: 0;

}
.pitch {
  font-family: "century gothic", sans-serif;
  font-size: 1.5rem;
}

p.about {
  font-family: "roboto";
  font-size: 1.125rem;
}
.women,
.men,
.shop {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  width: 240px;
  height: 50px;
  background-color: white;
  color: _#172940;
  border-radius: 8px;
  border: none;
}
/*#shopmen {
  position: relative;
  left: 102px;
  bottom: 110px;
}
#shopwomen {
  position: relative;
  left: 102px;
  bottom: 110px;
}*/
/* footer 
--------------------*/
