@font-face {
  font-family: 'cenury gothic'
  src: url(../fonts/GOTHIC.TTF) format("TTF"); 
}
/* global styles
--------------------*/
:root {
}
body {
  width: 100%;
  font-family: "montserrat", verdana, sans-serif;
  font-size: 1.25rem;
  color: #172940;
  margin: 0;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.25rem;
  color: #b05625;
  background-color: #f2b705bf;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 12px 30px;
  display: inline-block;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
}
nav.icons {
  width: 100%;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin: 0 auto 0 auto;
}
form.search {
  position: relative;
}
a.icons {
  display: inline-block;
  color: #172940;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 30px;
}
#home-icon {
  padding-left: 0;
}
.logo {
  display: inline-block;
  margin: 10px 0 10px 0;
}
a.icons:hover {
  text-decoration: underline;
}
a img {
  position: relative;
  top: 7px;
}
#search {
  border: 2px solid #172940;
  border-radius: 8px;
  width: 500px;
  height: 50px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
#search-label {
  position: absolute;
  top: 7px;
  right: 10px;
}
nav.menu {
  width: 100%;
  background-color: #172940;
}
.menu-wrapper {
  width: 67%;
}
ul.menu {
  display: flex;
  justify-content: space-evenly;
  font-family: "monteserrat", verdana, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
}
.menu li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
div a {
  color: #172940;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: #f2b705;
  text-decoration: underline;
}
/* main 
--------------------*/
main {
  background-color: #f2f2f2;
  width: 100%;
}
div.main-wrapper {
  width: 100%;
  height: 903px;
  background-image: url("../images/main_image.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}
section.eye-catcher {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  margin-top: 60px;
}
section.about-us {
  max-width: 430px;
  max-height: 300px;
  margin-top: 60px;
}
#about-subhl {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  color: #b05625;
  font-weight: 600;
}
a.about {
  color: #b05625;
  font-size: 1.125rem;
}
a.about:hover {
  font-weight: bold;
}
p.pitch {
  font-family: "century gothic", sans-serif;
  font-size: 1.5rem;
}
p.about {
  font-family: "roboto";
  font-size: 1.125rem;
  width: 380px;
  margin: 0 0 10px 0;
}
.button-wrapper a {
  text-decoration: none;
  display: inline-block;
  margin-left: 30px;
}
.button {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  width: 240px;
  color: black;
  border-radius: 8px;
  border: none;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: white;
  margin: 0 auto 0 auto;
  box-shadow: 0 3px 6px #00000029;
}
.shop {
  display: block;
  padding: 0;
  text-decoration: none;
  position: relative;
  top: -100px;
}
.button:hover {
  background-color: #ffffffbf;
}
div.secondary-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
  /*background-color: red;*/
}
section.content-left {
  margin-top: 70px;
  /*background-color: green;*/
}
section.content-right {
  color: black;
  margin-top: 70px;
  /*background-color: lightblue;*/
}
.content-right img {
  display: block;
  margin: 0;
  padding: 0;
}
div.grid-wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}
div.instagram-wrapper {
  margin-right: 30px;
  margin-top: 50px;
  /*background-color: lightcoral;*/
}
figure.categorys {
  display: block;
  width: 500px;
  height: 333px;
  font-family: "montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  border-width: 16px 16px 60px 16px;
  border-style: solid;
  border-color: white;
  text-align: center;
  box-shadow: 0 3px 6px #00000029;
  margin-left: 0;
  margin-right: 30px;
  margin-top: 0;
}
figure.categorys a {
  text-decoration: none;
  position: relative;
  top: -7px;
  transition-property: opacity, text-decoration;
  transition-duration: 0.5s;
  opacity: 1;
}
figure.categorys a:hover {
  display: block;
  opacity: 0.75;
  text-decoration: underline;
}
figcaption {
  margin-top: 15px;
}
.img-block {
  display: inline-block;
}
figure.news {
  margin: 0;
}
#image-2 {
  position: relative;
  top: -50px;
}
h1 {
  font-family: "balboa", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.125rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-size: 1.5rem;
  color: #b05625;
  margin-top: 0;
  margin-left: 65px;
}
h3 /*about us*/ {
  font-family: "century gothic", sans-serif;
  font-size: 2rem;
  margin: 0;
  text-decoration: underline;
}
h4 {
  font-size: 1.875rem;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: white;
  margin: 0px 30px 30px 0;
  /*box-shadow: 0 3px 6px #00000029;*/
}
h5 {
  font-family: "century gothic", sans-serif;
  font-size: 2.375rem;
  background-color: white;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 20px;
  padding-top: 15px;
}
h6 {
  box-sizing: border-box;
  height: 100px;
  font-family: "century gothic";
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  background-color: black;
  font-weight: 200;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
#special {
  font-size: 3rem;
  background-color: #2f496a;
  font-weight: bold;
  color: #f2b705;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.join-instagram {
  box-sizing: border-box;
  height: 100px;
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: black;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.join-instagram p {
  margin: 0;
  font-weight: 700;
}
p.yellow {
  font-family: "montserrat";
  font-size: 1.5rem;
  color: #f2b705;
  margin-left: 230px;
}
div.instagram {
  text-align: center;
  height: 271px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  background-color: white;
}
.special-offer {
  margin-top: 50px;
  margin-right: 30px;
}
.special-offer p {
  box-sizing: border-box;
  height: 100px;
  font-family: "montserrat";
  font-size: 1.875rem;
  background-color: #2f496a;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
figure.instagram {
  margin: 0;
  padding-top: 12px;
}
figure.special {
  margin: 0;
  padding: 0;
}
#leaves {
  display: block;
}
#news {
  max-width: 440px;
  background-color: white;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 15px;
}
#newsletter {
  width: 80%;
  height: 46px;
  border: solid 2px;
  border-color: #536175;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 15px;
}
#newsletter:hover {
  background-color: #f2f2f2;
}
#join {
  background-color: #536175;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  height: 50px;
  border: none;
  border-radius: 0;
  color: white;
  padding: 12px 15px 12px 15px;
  margin-left: -6px;
}
#join:hover {
  opacity: 0.75;
}
#label {
  font-weight: bold;
  color: #536175;
}
section.bottom-items {
  width: 100%;
}
div.bottom-items {
  width: 85%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*background-color: lightseagreen;*/
}
div.large-buttons {
  margin-top: 50px;
}
div.large-buttons a {
  padding-left: 70px;
}
div.large-buttons a:hover {
  opacity: 0.75;
}
div.newsletter {
  width: 30%;
  margin-left: 200px;
  margin-bottom: 30px;
}
/* footer 
--------------------*/
footer {
  margin-top: 50px;
}
.support-wrapper {
  width: 100%;
  background-color: #172940;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  list-style: none;
  padding-left: 0;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
}
li.social-media {
  display: inline-block;
}
img.social-media {
  width: 30px;
  height: 30px;
  margin: 0;
  padding-right: 20px;
}
/*deskotop styles*/
@media only screen and(min-width:720px) {
}
/* styles that change
--------------------*/
