@font-face {
  /*font-family: 'montserrat';
  src: url();
  font-family: 'roboto';
  scr: url();
  font-family: 'cenury gothic'
  src: url(); */
}
/* global styles
--------------------*/
body {
  width: 100%;
  font-family: "montserrat", verdana, sans-serif;
  font-size: 1.25rem;
  color: #172940;
  margin: 0;
}
/* header 
--------------------*/
header {
  z-index: 100;
  font-family: "roboto", verdana, sans-serif;
  font-size: 1.125rem;
  width: 100%;
}
ul.campaign {
  display: flex;
  justify-content: center;
  font-family: "montserrat";
  font-size: 1.25rem;
  color: #b05625;
  background-color: #f2b705;
  margin: 0;
}
.campaign li:before {
  content: url("../images/icons/Polygon2.png");
  padding-right: 5px;
}
.campaign li {
  padding: 12px 30px;
  display: inline-block;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
}
nav.icons {
  width: 100%;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin: 0 auto 0 auto;
}
form.search {
  position: relative;
}
a.icons {
  display: inline-block;
  color: #172940;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 30px;
}
#home-icon {
  padding-left: 0;
}
.logo {
  display: inline-block;
  margin: 10px 0 10px 0;
}
a.icons:hover {
  text-decoration: underline;
}
a img {
  position: relative;
  top: 7px;
}
#search {
  border: 2px solid #172940;
  border-radius: 8px;
  width: 500px;
  height: 50px;
  outline: 0;
  font-family: "montserrat";
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
#search-label {
  position: absolute;
  top: 7px;
  right: 10px;
}
nav.menu {
  width: 100%;
  background-color: #172940;
}
.menu-wrapper {
  width: 67%;
}
ul.menu {
  display: flex;
  justify-content: space-evenly;
  font-family: "monteserrat", verdana, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
}
.menu li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
div a {
  color: #172940;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: #f2b705;
  text-decoration: underline;
}
/* main 
--------------------*/
main {
  background-color: #f2f2f2;
}
div.main {
  width: 100%;
  height: 903px;
  background-image: url("../images/main_image.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}
section.eye-catcher {
  max-width: 700px;
  max-height: 300px;
  margin-top: 70px;
}
section.about-us {
  max-width: 430px;
  max-height: 300px;
  margin-top: 70px;
}
div.main-wrapper {
  display: grid;
  grid-template-areas:
    "categorys news"
    "special-offer news";
}
section.categorys {
  grid-area: categorys;
  margin-left: 7.5%;
  margin-top: 70px;
}
div.special-offers {
  grid-area: special-offer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 7.5%;
  margin-right: 96px;
  margin-top: 50px;
}
section.news {
  grid-area: news;
  margin-right: 7.5%;
  margin-top: 45px;
}

section.categorys {
  max-width: 1103px;
}
div.categorys {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}
figure.categorys {
  width: 500px;
  height: 333px;
  font-family: "montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  border-width: 16px 16px 50px 16px;
  border-style: solid;
  border-color: white;
  text-align: center;
  margin-left: 0;
  box-shadow: 0 3px 6px #00000029;
}
figure.categorys a {
  text-decoration: none;
}
figure.categorys a:hover {
  display: block;
  opacity: 0.75;
}
.section.news {
  max-width: 460px;
}
.img-block {
  display: block;
}
figure.news {
  margin-left: 0;
}
h1 {
  font-family: "balboa", sans-serif;
  font-size: 3.125rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-size: 1.5rem;
  color: #b05625;
  margin-top: 0;
  margin-left: 65px;
}
h3 {
  font-family: "century gothic", sans-serif;
  font-size: 2rem;
  margin: 0;
}
a.about {
  color: #b05625;
  font-size: 1rem;
}
h4 {
  font-size: 1.875rem;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: white;
  margin-bottom: 0;
  box-shadow: 0 3px 6px #00000029;
}
h5 {
  max-width: 440px;
  font-family: "century gothic", sans-serif;
  font-size: 2.375rem;
  background-color: white;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 15px;
}
h6 {
  max-width: 525px;
  font-family: "century gothic";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}
#instagram {
  font-size: 2.5rem;
  background-color: black;
  font-weight: 200;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
#special {
  font-size: 3rem;
  background-color: #2f496a;
  font-weight: bold;
  color: #f2b705;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.join-instagram {
  max-width: 525px;
  font-family: "century gothic";
  font-size: 1.875rem;
  background-color: black;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.join-instagram p {
  margin: 0;
  font-weight: 700;
}
p.yellow {
  font-family: "montserrat";
  font-size: 1.5rem;
  color: #f2b705;
  margin-left: 230px;
}
section.instagram {
  height: 465px;
  margin: 0;
  padding: 0;
}
div.special-offer {
  width: 525px;
  height: 465px;
  margin: 0;
  padding: 0;
}
div.instagram {
  max-width: 525px;
  height: 271px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  background-color: white;
}
.special-offer p {
  max-width: 525px;
  font-family: "montserrat";
  font-size: 1.875rem;
  background-color: #2f496a;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
figure.instagram {
  margin: 0;
  padding: 0;
}
figure.special {
  margin: 0;
  padding: 0;
}
#leaves {
  display: block;
}
#about {
  margin: 0;
  padding: 0;
  color: #b05625;
  font-style: italic;
}
.about {
  margin: 0;
}
section.news {
  color: black;
}
figure.news {
  margin: 0;
}
#news {
  max-width: 440px;
  background-color: white;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 15px;
}
.pitch {
  font-family: "century gothic", sans-serif;
  font-size: 1.5rem;
}
p.about {
  font-family: "roboto";
  font-size: 1.125rem;
}
.women-men a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 50px;
  left: -35px;
  padding-right: 30px;
}
.button {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 600;
  width: 240px;
  background-color: white;
  color: #172940;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  text-align: center;
  margin: 0;
  position: relative;
  left: 55px;
  top: -50px;
}
p.button {
  padding-top: 13px;
  padding-bottom: 13px;
}
.button:hover {
  background-color: #ffffffbf;
}
#newsletter {
  width: 390px;
  height: 46px;
  border: solid 2px;
  border-color: #536175;
  border-radius: 0;
  font-family: "montserrat";
  font-size: 1.25rem;
  padding-left: 26px;
}
#newsletter:hover {
  background-color: #f2f2f2;
}
#join {
  background-color: #536175;
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 0;
  color: white;
  padding: 50;
  margin-left: -6px;
}
#join:hover {
  opacity: 0.75;
}
#label {
  font-weight: bold;
  position: relative;
  color: #536175;
  top: -45px;
  left: 310px;
}
section.support-container {
  max-width: 1920px;
}
section.bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.large-buttons {
  margin-top: 50px;
  margin-right: 140px;
}
div.large-buttons a {
  padding-left: 70px;
}
div.large-buttons a:hover {
  opacity: 0.75;
}
form.newsletter {
  margin-bottom: 17.5px;
}
/* footer 
--------------------*/
footer {
  margin-top: 200px;
}
.support-wrapper {
  width: 100%;
  background-color: #172940;
}
.support-container {
  font-family: "montserrat";
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 0 auto;
}
.support ul {
  list-style: none;
  padding-left: 0;
}
.support a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.support p {
  font-weight: 500;
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
}
li.social-media {
  display: inline-block;
}
img.social-media {
  width: 30px;
  height: 30px;
  margin: 0;
  padding-right: 20px;
}
/*deskotop styles*/
@media only screen and(min-width:720px) {
}
/* styles that change
--------------------*/
