@font-face {
  font-family: "cenury gothic";
  src: url(../fonts/GOTHIC.TTF) format("truetype");
}
body {
  width: 100%;
  font-family: "montserrat";
  font-size: 1.5rem;
  margin: 0;
  background-color: lightskyblue;
}
nav.main-menu {
  font-family: "montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-color: #172940;
  margin-top: 200px;
}
div.menu-wrapper {
  width: 70%;
}
.main-menu * a {
  text-decoration: none;
}
ul.menu {
  width: 100%;
  background-color: #172940;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
ul.dropdown {
  background-color: white;
  padding-left: 0;
}
.main-menu li {
  color: white;
  background-color: #172940;
  display: block;
  float: left;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
}
.dropdown li {
  background-color: white;
  display: block;
  float: left;
  padding: 10px 15px 10px 25px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.5s ease;
}
.dropdown li a {
  color: #172940;
}
li a {
  color: white;
  display: block;
}
ul.dropdown > li:hover {
  background-color: #f2b705;
  transition: all 0.5s ease;
  cursor: pointer;
}
ul.menu > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
ul li ul {
  background-color: #f2b705;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  font-family: "century gothic";
  font-size: 1.125rem;
  font-weight: 500;
}
.hamburger-label {
  color: fff;
  font-size: 1.25rem;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 30px;
  display: none;
}
#hamburger-menu {
  display: none;
}
div.mobile-menu {
  font-family: "century gothic";
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 20px;
  display: none;
}
.mobile-menu a{
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
}
.mobile-menu a:hover{
  background-color: #f2b705;
}
/* ul.mobile-menu li {
  color: red;
  background-color: #fff;
} */
/* .mobile-menu li a {
  display: block;
  text-decoration: none;
  color: #172940;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  box-shadow: 0 3px 6px #00000029;
} */
/* styles that change
--------------------*/

@media only screen and (max-width: 720px) {
  .hamburger-label {
    display: block;
  }
  li.menu-item {
    display: none;
  }
  #hamburger-menu:checked ~ div{
    display: block;
  }
  ul.mobile-menu {
    display: block;
}
